<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Layer Subset</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Business Layer Subset</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/5465691b-189e-48bb-8b5e-7d8c0394f9af.png" alt="Business Layer Subset" usemap="#5465691b-189e-48bb-8b5e-7d8c0394f9afmap">
			<map name="5465691b-189e-48bb-8b5e-7d8c0394f9afmap">
						<area shape="rect" coords="190,94,310,149" href="../elements/c32c3539-7cc3-4354-a780-278fc32ab88d.html"  target="element">
						<area shape="rect" coords="10,10,130,65" href="../elements/e9c000ef-6b49-469b-9059-33f659226a3a.html"  target="element">
						<area shape="rect" coords="10,94,130,149" href="../elements/2be65be5-1ca0-451e-84df-b2c0187029f8.html"  target="element">
						<area shape="rect" coords="190,262,310,317" href="../elements/c2d1f6da-f62a-47fa-8c65-cc29f4c957aa.html"  target="element">
						<area shape="rect" coords="370,10,490,65" href="../elements/ba1d7445-4692-4ff1-931a-7bded7ad9058.html"  target="element">
						<area shape="rect" coords="190,10,310,65" href="../elements/9d59427d-7926-4ab2-94d5-34fdbdac85ec.html"  target="element">
						<area shape="rect" coords="370,94,490,149" href="../elements/e58d4cda-7157-4244-aab0-3d81f59b1304.html"  target="element">
						<area shape="rect" coords="190,178,310,233" href="../elements/205db87a-f64e-4475-b8fe-bae9fbc5111c.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The subset of business layer elements used in the workshop</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/c32c3539-7cc3-4354-a780-278fc32ab88d.html" target="element"> Business Function </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/e9c000ef-6b49-469b-9059-33f659226a3a.html" target="element"> Business Object </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/2be65be5-1ca0-451e-84df-b2c0187029f8.html" target="element"> Contract </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/c2d1f6da-f62a-47fa-8c65-cc29f4c957aa.html" target="element"> Business Event </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/ba1d7445-4692-4ff1-931a-7bded7ad9058.html" target="element"> Business Actor </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/9d59427d-7926-4ab2-94d5-34fdbdac85ec.html" target="element"> Business Process </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/e58d4cda-7157-4244-aab0-3d81f59b1304.html" target="element"> Business Role </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/205db87a-f64e-4475-b8fe-bae9fbc5111c.html" target="element"> Business Service </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>