<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Business Layer Subset Examples</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Business Layer Subset Examples</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/df592ec1-8064-43cc-900b-604c9ec0f42b.png" alt="Business Layer Subset Examples" usemap="#df592ec1-8064-43cc-900b-604c9ec0f42bmap">
			<map name="df592ec1-8064-43cc-900b-604c9ec0f42bmap">
						<area shape="rect" coords="10,10,130,65" href="../elements/73e6daf8-ab5c-45da-ab32-b83876e033ed.html"  target="element">
						<area shape="rect" coords="10,94,130,149" href="../elements/d0cdc70c-129e-497e-a26a-e9192026c81b.html"  target="element">
						<area shape="rect" coords="190,10,310,65" href="../elements/efefa051-50e9-4ff7-a2b8-67b648e341cf.html"  target="element">
						<area shape="rect" coords="190,94,310,149" href="../elements/6051408f-0786-4b7f-b2d5-585577b56802.html"  target="element">
						<area shape="rect" coords="190,178,310,233" href="../elements/0712a313-2a74-4c2f-b83f-6261f8d07f22.html"  target="element">
						<area shape="rect" coords="190,262,310,317" href="../elements/ae2a3b58-dfc7-4a20-a3bd-e82056b7aee5.html"  target="element">
						<area shape="rect" coords="370,10,490,65" href="../elements/6a381f44-a994-4160-9169-9c9744311bf1.html"  target="element">
						<area shape="rect" coords="370,94,490,149" href="../elements/1e3761e6-767b-4530-ad0f-9115b2ce31b6.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Concrete examples of the business layer elements from a university setting</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/73e6daf8-ab5c-45da-ab32-b83876e033ed.html" target="element"> Research Data </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/d0cdc70c-129e-497e-a26a-e9192026c81b.html" target="element"> Archiving Agrement </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/efefa051-50e9-4ff7-a2b8-67b648e341cf.html" target="element"> Collect Research Data </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/6051408f-0786-4b7f-b2d5-585577b56802.html" target="element"> Research Data Archiving </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/0712a313-2a74-4c2f-b83f-6261f8d07f22.html" target="element"> Archiving Service </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/ae2a3b58-dfc7-4a20-a3bd-e82056b7aee5.html" target="element"> Researcher leaves </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/6a381f44-a994-4160-9169-9c9744311bf1.html" target="element"> Ph.D. Student </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/1e3761e6-767b-4530-ad0f-9115b2ce31b6.html" target="element"> Producer of Research Data </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>