<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Motivation Subset Examples</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Motivation Subset Examples</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/e6012a5e-e678-4e68-bab4-3609472e9976.png" alt="Motivation Subset Examples" usemap="#e6012a5e-e678-4e68-bab4-3609472e9976map">
			<map name="e6012a5e-e678-4e68-bab4-3609472e9976map">
						<area shape="rect" coords="10,10,155,65" href="../elements/b2b04126-ed23-4e01-b99a-b86dcc212a4d.html"  target="element">
						<area shape="rect" coords="10,322,155,377" href="../elements/a77aec91-cdbc-4537-80bf-c937c80708b5.html"  target="element">
						<area shape="rect" coords="10,112,155,167" href="../elements/4bbee91b-121a-4ce4-952f-ddd21f7efebf.html"  target="element">
						<area shape="rect" coords="10,215,155,270" href="../elements/ed8258f7-56ad-42a8-8fc2-ac3e745b8822.html"  target="element">
						<area shape="rect" coords="202,215,407,270" href="../elements/ed2e4b1b-58ca-408c-a60d-5d07874c2506.html"  target="element">
						<area shape="rect" coords="202,112,322,167" href="../elements/28b36b1d-79c6-4f53-8c94-b63c196ed65c.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Concrete examples of the motivation layer elements from a university setting</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/b2b04126-ed23-4e01-b99a-b86dcc212a4d.html" target="element"> Academic Researchers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/a77aec91-cdbc-4537-80bf-c937c80708b5.html" target="element"> Provide long term storage for research data </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/4bbee91b-121a-4ce4-952f-ddd21f7efebf.html" target="element"> Reproducible Research </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/ed8258f7-56ad-42a8-8fc2-ac3e745b8822.html" target="element"> Make Research Data available for replication studies </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/ed2e4b1b-58ca-408c-a60d-5d07874c2506.html" target="element"> Data supporting a publication must be preserved for 5 years after publication </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/28b36b1d-79c6-4f53-8c94-b63c196ed65c.html" target="element"> Research Data can be lost </a> </td><td class="i18n-elementtype-Assessment"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>