<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>EDISON Data Science Framework (copy)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>EDISON Data Science Framework (copy)</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/65a8d13e-0c1e-4cbf-b26b-9ca791360ffd.png" alt="EDISON Data Science Framework (copy)" usemap="#65a8d13e-0c1e-4cbf-b26b-9ca791360ffdmap">
			<map name="65a8d13e-0c1e-4cbf-b26b-9ca791360ffdmap">
								<area shape="rect" coords="190,46,310,101" href="../elements/0bfa7586-09e2-4e50-af3d-8118e2bd537f.html"  target="element">
								<area shape="rect" coords="34,46,154,101" href="../elements/23952e55-561b-483e-bcae-d49d96753847.html"  target="element">
								<area shape="rect" coords="346,46,466,101" href="../elements/befa8bd9-c2ba-40e0-bfb6-8294810adf57.html"  target="element">
								<area shape="rect" coords="502,46,622,101" href="../elements/9dd13c07-305c-4f6b-b982-e3313ca09727.html"  target="element">
								<area shape="rect" coords="658,46,778,101" href="../elements/687a8591-c6c3-4386-82fd-7415c415dc9d.html"  target="element">

						<area shape="rect" coords="10,10,827,119" href="../elements/119d0392-7552-40dd-b656-f24a0b90f9cb.html"  target="element">
								<area shape="rect" coords="1054,377,1187,432" href="../elements/b675c380-1f9f-4e4a-8ffb-f6b554e152bc.html"  target="element">
								<area shape="rect" coords="1054,299,1187,354" href="../elements/92c5084d-1d6c-46c2-998b-b44656661e71.html"  target="element">
								<area shape="rect" coords="1054,221,1187,276" href="../elements/98475fea-3432-42eb-8cd1-a4cbae0cf56d.html"  target="element">

						<area shape="rect" coords="1030,185,1211,455" href="../elements/8b3dcb91-7093-488a-b24d-a62c3925827f.html"  target="element">
								<area shape="rect" coords="34,220,167,275" href="../elements/06f19089-9131-46f2-b995-6c151e883c30.html"  target="element">
								<area shape="rect" coords="34,298,167,353" href="../elements/e888f2b6-a17b-4556-94f1-8043505c1775.html"  target="element">
								<area shape="rect" coords="34,376,167,431" href="../elements/744290bc-1034-43b2-9e3d-6c77891ce6b3.html"  target="element">

						<area shape="rect" coords="10,184,191,455" href="../elements/3c517899-4774-48ef-8b81-b89361f8615e.html"  target="element">
								<area shape="rect" coords="238,376,371,431" href="../elements/ace44a33-6098-46a9-99f2-54ca4d90ae69.html"  target="element">
								<area shape="rect" coords="238,298,371,353" href="../elements/69a48c1a-8a63-488a-b758-2d061ef58fc3.html"  target="element">
								<area shape="rect" coords="238,532,371,587" href="../elements/65f17f62-bc39-4adb-8d63-671828f62961.html"  target="element">
								<area shape="rect" coords="238,220,371,275" href="../elements/c3182d97-2abe-4015-baab-7bf7da2951d3.html"  target="element">
								<area shape="rect" coords="238,610,371,665" href="../elements/c617a976-66f3-40e5-a4ac-050a4fb00d35.html"  target="element">
								<area shape="rect" coords="238,454,371,509" href="../elements/4a5e9f55-9de3-4b31-b66b-51d1fc04c49c.html"  target="element">

						<area shape="rect" coords="214,184,395,695" href="../elements/0a22087e-d7ef-4178-9564-e6a2bf9704cb.html"  target="element">
								<area shape="rect" coords="442,298,575,353" href="../elements/10b72b0e-1b49-4c23-b89f-d2103afc6c4c.html"  target="element">
								<area shape="rect" coords="442,376,575,431" href="../elements/6231a5bc-0b3e-45d1-86b6-f1524831c869.html"  target="element">
								<area shape="rect" coords="442,454,575,509" href="../elements/ff6a5290-dd84-44e7-9590-15a94d77f61f.html"  target="element">
								<area shape="rect" coords="442,220,575,275" href="../elements/cc2722be-0c6b-4c88-b4b8-333e0bb1a045.html"  target="element">

						<area shape="rect" coords="418,184,599,539" href="../elements/ea4c2ee1-f0f6-4edc-b8f1-52bb3e0c0c65.html"  target="element">
								<area shape="rect" coords="646,220,779,275" href="../elements/18fe1678-1320-477c-ad8a-914283833264.html"  target="element">
								<area shape="rect" coords="646,376,779,431" href="../elements/17fb0933-2b92-434f-8dd3-ec9db49af112.html"  target="element">
								<area shape="rect" coords="646,298,779,353" href="../elements/7fad0b66-db35-450b-8fda-5a0ea2a1af26.html"  target="element">

						<area shape="rect" coords="622,184,803,455" href="../elements/073c00a4-df2d-4b84-a898-d73a7fa80c3d.html"  target="element">
								<area shape="rect" coords="850,299,983,354" href="../elements/af026ffe-4dd4-4bba-ad49-1de413e552ce.html"  target="element">
								<area shape="rect" coords="850,221,983,276" href="../elements/779a130f-d6fe-4408-ada6-5549028e0a94.html"  target="element">
								<area shape="rect" coords="850,377,983,432" href="../elements/af32d542-4fed-4a73-bbb5-ff05b00a38fa.html"  target="element">

						<area shape="rect" coords="826,185,1003,454" href="../elements/3ad99ab1-3828-412c-aec6-8df24fcac220.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The EDISON project is designated to create a foundation for establishing a new profession of Data Scientist for
European research and industry. The EDISON vision for building the Data Science profession will be enabled
through the creation of a comprehensive framework for Data Science education and training that includes such
components as Data Science Competence Framework (CF-DS), Data Science Body of Knowledge (DS-BoK), Data
Science Model Curriculum (MC-DS), and Data Science Professional profiles definition.

-- EDISON Data Science Framework (EDSF)
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/119d0392-7552-40dd-b656-f24a0b90f9cb.html" target="element"> EDSF - Competences/Capabilities </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/0bfa7586-09e2-4e50-af3d-8118e2bd537f.html" target="element"> Data Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/23952e55-561b-483e-bcae-d49d96753847.html" target="element"> Data Analytics </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/befa8bd9-c2ba-40e0-bfb6-8294810adf57.html" target="element"> Data Science Engineering </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/9dd13c07-305c-4f6b-b982-e3313ca09727.html" target="element"> Scientific and Research Methods </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/687a8591-c6c3-4386-82fd-7415c415dc9d.html" target="element"> Data Science Domain Knowledge </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/8b3dcb91-7093-488a-b24d-a62c3925827f.html" target="element"> EDSF - Data science professional profiles </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/b675c380-1f9f-4e4a-8ffb-f6b554e152bc.html" target="element"> User support data services </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/92c5084d-1d6c-46c2-998b-b44656661e71.html" target="element"> Data entry field workers </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/98475fea-3432-42eb-8cd1-a4cbae0cf56d.html" target="element"> Data entry/access worker </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										
										<tr><td> <a href="../elements/3c517899-4774-48ef-8b81-b89361f8615e.html" target="element"> EDSF - Managers </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/06f19089-9131-46f2-b995-6c151e883c30.html" target="element"> Data Science Manager </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/e888f2b6-a17b-4556-94f1-8043505c1775.html" target="element"> Data Science Infrastructure Manager </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/744290bc-1034-43b2-9e3d-6c77891ce6b3.html" target="element"> Research Infrastructure Manager </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										
										<tr><td> <a href="../elements/0a22087e-d7ef-4178-9564-e6a2bf9704cb.html" target="element"> EDSF - Professionals </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/ace44a33-6098-46a9-99f2-54ca4d90ae69.html" target="element"> Data Science Architect </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/69a48c1a-8a63-488a-b758-2d061ef58fc3.html" target="element"> Data Science Researcher </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/65f17f62-bc39-4adb-8d63-671828f62961.html" target="element"> Data Analyst </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/c3182d97-2abe-4015-baab-7bf7da2951d3.html" target="element"> Data Scientist </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/c617a976-66f3-40e5-a4ac-050a4fb00d35.html" target="element"> Business Analyst </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/4a5e9f55-9de3-4b31-b66b-51d1fc04c49c.html" target="element"> Data Science (Application) Programmer/Engineer </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										
										<tr><td> <a href="../elements/ea4c2ee1-f0f6-4edc-b8f1-52bb3e0c0c65.html" target="element"> EDSF - Professional (data handling/management) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/10b72b0e-1b49-4c23-b89f-d2103afc6c4c.html" target="element"> Digital Data Curator </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/6231a5bc-0b3e-45d1-86b6-f1524831c869.html" target="element"> Data Librarian </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/ff6a5290-dd84-44e7-9590-15a94d77f61f.html" target="element"> Data Archivist </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/cc2722be-0c6b-4c88-b4b8-333e0bb1a045.html" target="element"> Data Stewart </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										
										<tr><td> <a href="../elements/073c00a4-df2d-4b84-a898-d73a7fa80c3d.html" target="element"> EDSF - Professional (database) </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/18fe1678-1320-477c-ad8a-914283833264.html" target="element"> Large scale (cloud) database designer </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/17fb0933-2b92-434f-8dd3-ec9db49af112.html" target="element"> Scientific database administrator </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/7fad0b66-db35-450b-8fda-5a0ea2a1af26.html" target="element"> Large scale (cloud) database administrator </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										
										<tr><td> <a href="../elements/3ad99ab1-3828-412c-aec6-8df24fcac220.html" target="element"> EDSF - Technicians and associate professionals </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/af026ffe-4dd4-4bba-ad49-1de413e552ce.html" target="element"> Large scale (cloud) data storage operator </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/779a130f-d6fe-4408-ada6-5549028e0a94.html" target="element"> Big Data facilities Operator </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/af32d542-4fed-4a73-bbb5-ff05b00a38fa.html" target="element"> Scientific database operator  </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>