<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Raw data: Stakeholders (alternative classification)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Raw data: Stakeholders (alternative classification)</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/0f41d9ce-fb8d-41fb-a013-c67b507e4a12.png" alt="Raw data: Stakeholders (alternative classification)" usemap="#0f41d9ce-fb8d-41fb-a013-c67b507e4a12map">
			<map name="0f41d9ce-fb8d-41fb-a013-c67b507e4a12map">
								<area shape="rect" coords="1244,264,1484,374" href="../elements/3fac9b1f-4413-4f11-99d0-cc5c0dff34bb.html"  target="element">
								<area shape="rect" coords="1244,432,1484,542" href="../elements/f7fc7bbc-598e-4cda-82f9-5155e8a6c6ca.html"  target="element">
								<area shape="rect" coords="1244,96,1484,206" href="../elements/cc3e8ca8-9208-446d-a113-7e19739b1dff.html"  target="element">
								<area shape="rect" coords="1244,600,1484,710" href="../elements/a6393e56-b931-4ecd-948b-e99a2f908eff.html"  target="element">
								<area shape="rect" coords="1244,768,1484,878" href="../elements/723aa790-1c42-4bed-82ee-e341fbfc07d2.html"  target="element">
								<area shape="rect" coords="1244,936,1484,1046" href="../elements/c2a64759-4115-43a2-aae1-26e7d973b75f.html"  target="element">

						<area shape="rect" coords="1220,24,1510,1078" href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html"  target="element">
								<area shape="rect" coords="1844,428,2084,538" href="../elements/64e5bc20-2bb0-49d6-87e1-d8bb02baa556.html"  target="element">
								<area shape="rect" coords="1556,428,1796,538" href="../elements/eaf774b6-ffad-40b8-bf12-7df040366194.html"  target="element">
								<area shape="rect" coords="1556,260,1796,370" href="../elements/9d00ec54-ab4a-497e-bc41-efe6bd6f568d.html"  target="element">
								<area shape="rect" coords="1556,764,1796,874" href="../elements/f2880faa-dc23-452f-acd5-3b34e9d65dc4.html"  target="element">
								<area shape="rect" coords="1844,92,2084,202" href="../elements/92047acb-e019-4d25-bfd4-b900775d780d.html"  target="element">
								<area shape="rect" coords="1556,92,1796,202" href="../elements/64569839-2e84-4747-89a8-9669fbeda849.html"  target="element">
								<area shape="rect" coords="1556,596,1796,706" href="../elements/d3b59603-8797-4515-9894-87c64ad3eb91.html"  target="element">
								<area shape="rect" coords="1844,260,2084,370" href="../elements/e2492fa0-0b0d-482f-849b-19b30b5b1dff.html"  target="element">

						<area shape="rect" coords="1532,20,2110,910" href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html"  target="element">
								<area shape="rect" coords="932,260,1172,370" href="../elements/bc8a78f7-45ac-4c16-b07c-45f6d3b961a0.html"  target="element">
								<area shape="rect" coords="644,92,884,202" href="../elements/7d378a1f-c09e-4e62-8149-836319132b95.html"  target="element">
								<area shape="rect" coords="644,260,884,370" href="../elements/5bdf6f19-652d-4869-9235-7618a9bc5465.html"  target="element">
								<area shape="rect" coords="644,428,884,538" href="../elements/92491df5-8be9-4630-a8a7-6217df4c7d7b.html"  target="element">
								<area shape="rect" coords="932,596,1172,706" href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html"  target="element">
								<area shape="rect" coords="644,596,884,706" href="../elements/82d7b2a0-79e6-4e28-bc45-98b0f03122ef.html"  target="element">

						<area shape="rect" coords="620,20,1198,958" href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html"  target="element">
								<area shape="rect" coords="44,596,284,706" href="../elements/1d7bf6c4-a603-46be-8e10-252bf3ca1062.html"  target="element">
								<area shape="rect" coords="44,764,284,874" href="../elements/ef32e773-5adc-4f62-968e-8e76c6bf55ad.html"  target="element">
								<area shape="rect" coords="332,260,572,370" href="../elements/432e5258-e544-4cef-9a2c-2b4111a20e7e.html"  target="element">
								<area shape="rect" coords="44,92,284,202" href="../elements/c254adef-951b-4bc6-afbd-6ed606e6588b.html"  target="element">
								<area shape="rect" coords="44,428,284,538" href="../elements/128b98d2-021e-4e68-ad7a-c74b0d265f38.html"  target="element">
								<area shape="rect" coords="44,260,284,370" href="../elements/312d01c5-165e-4b82-926e-8ffb85fa460e.html"  target="element">
								<area shape="rect" coords="332,596,572,706" href="../elements/12b09266-3f54-451f-ab58-aa6ba6a41744.html"  target="element">

						<area shape="rect" coords="20,20,598,1060" href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html" target="element"> Support and infrastructure </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/3fac9b1f-4413-4f11-99d0-cc5c0dff34bb.html" target="element"> IT department </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/f7fc7bbc-598e-4cda-82f9-5155e8a6c6ca.html" target="element"> Infrastructure manager </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/cc3e8ca8-9208-446d-a113-7e19739b1dff.html" target="element"> Infrastructure provider </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/a6393e56-b931-4ecd-948b-e99a2f908eff.html" target="element"> RDM support </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/723aa790-1c42-4bed-82ee-e341fbfc07d2.html" target="element"> Research library </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/c2a64759-4115-43a2-aae1-26e7d973b75f.html" target="element"> Research Archive </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											
											<tr><td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/64e5bc20-2bb0-49d6-87e1-d8bb02baa556.html" target="element"> National archive </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/eaf774b6-ffad-40b8-bf12-7df040366194.html" target="element"> Academic publisher </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/9d00ec54-ab4a-497e-bc41-efe6bd6f568d.html" target="element"> Industry partner </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/f2880faa-dc23-452f-acd5-3b34e9d65dc4.html" target="element"> Commercial provider </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/92047acb-e019-4d25-bfd4-b900775d780d.html" target="element"> Government </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/64569839-2e84-4747-89a8-9669fbeda849.html" target="element"> Industry </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/d3b59603-8797-4515-9894-87c64ad3eb91.html" target="element"> Funding agency </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/e2492fa0-0b0d-482f-849b-19b30b5b1dff.html" target="element"> Data Protection Authority </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											
											<tr><td> <a href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html" target="element"> Administration </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/bc8a78f7-45ac-4c16-b07c-45f6d3b961a0.html" target="element"> CFO </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/7d378a1f-c09e-4e62-8149-836319132b95.html" target="element"> Management </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/5bdf6f19-652d-4869-9235-7618a9bc5465.html" target="element"> Finance and Accounting </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/92491df5-8be9-4630-a8a7-6217df4c7d7b.html" target="element"> Legal department </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html" target="element"> CISO </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/82d7b2a0-79e6-4e28-bc45-98b0f03122ef.html" target="element"> Security Officer </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											
											<tr><td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/1d7bf6c4-a603-46be-8e10-252bf3ca1062.html" target="element"> Reviewer </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/ef32e773-5adc-4f62-968e-8e76c6bf55ad.html" target="element"> Research Practice Committee </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/432e5258-e544-4cef-9a2c-2b4111a20e7e.html" target="element"> Principal Investigator </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/c254adef-951b-4bc6-afbd-6ed606e6588b.html" target="element"> Researcher </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/128b98d2-021e-4e68-ad7a-c74b0d265f38.html" target="element"> Research community </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/312d01c5-165e-4b82-926e-8ffb85fa460e.html" target="element"> PhD Supervisor </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
													<tr><td> <a href="../elements/12b09266-3f54-451f-ab58-aa6ba6a41744.html" target="element"> Journal editor </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2a35ae22-2e3d-407e-8ea8-04bb04190f15.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a35ae22-2e3d-407e-8ea8-04bb04190f15.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html" target="element"> Support and infrastructure </a> </td>
																		<td> <a href="../elements/3fac9b1f-4413-4f11-99d0-cc5c0dff34bb.html" target="element"> IT department </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f20f0fbb-937e-4a54-84f7-e345795ea551.html" target="element">  </a> </td>
																		<td> <a href="../elements/f20f0fbb-937e-4a54-84f7-e345795ea551.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html" target="element"> Support and infrastructure </a> </td>
																		<td> <a href="../elements/f7fc7bbc-598e-4cda-82f9-5155e8a6c6ca.html" target="element"> Infrastructure manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13cc2431-dc4f-49fe-a538-331fa3026878.html" target="element">  </a> </td>
																		<td> <a href="../elements/13cc2431-dc4f-49fe-a538-331fa3026878.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html" target="element"> Support and infrastructure </a> </td>
																		<td> <a href="../elements/cc3e8ca8-9208-446d-a113-7e19739b1dff.html" target="element"> Infrastructure provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/259ccca8-e175-4c28-ad74-ac7d9e5f88a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/259ccca8-e175-4c28-ad74-ac7d9e5f88a8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html" target="element"> Support and infrastructure </a> </td>
																		<td> <a href="../elements/a6393e56-b931-4ecd-948b-e99a2f908eff.html" target="element"> RDM support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/003f8413-660f-433c-8d89-255344e804b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/003f8413-660f-433c-8d89-255344e804b7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html" target="element"> Support and infrastructure </a> </td>
																		<td> <a href="../elements/723aa790-1c42-4bed-82ee-e341fbfc07d2.html" target="element"> Research library </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/556b9e65-6f4b-4dd8-96ac-de5819dbb1d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/556b9e65-6f4b-4dd8-96ac-de5819dbb1d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b407685c-42b3-46aa-9019-d7c24218a933.html" target="element"> Support and infrastructure </a> </td>
																		<td> <a href="../elements/c2a64759-4115-43a2-aae1-26e7d973b75f.html" target="element"> Research Archive </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a7ee4c29-3a44-4920-a370-a26c933c6f38.html" target="element">  </a> </td>
																				<td> <a href="../elements/a7ee4c29-3a44-4920-a370-a26c933c6f38.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/3fac9b1f-4413-4f11-99d0-cc5c0dff34bb.html" target="element"> IT department </a> </td>
																				<td> <a href="../elements/f7fc7bbc-598e-4cda-82f9-5155e8a6c6ca.html" target="element"> Infrastructure manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e4c763b9-ddc8-4f5d-ba78-290dc4a15808.html" target="element">  </a> </td>
																				<td> <a href="../elements/e4c763b9-ddc8-4f5d-ba78-290dc4a15808.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/cc3e8ca8-9208-446d-a113-7e19739b1dff.html" target="element"> Infrastructure provider </a> </td>
																				<td> <a href="../elements/3fac9b1f-4413-4f11-99d0-cc5c0dff34bb.html" target="element"> IT department </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/89914448-0804-4264-b192-41e7b0a4459d.html" target="element">  </a> </td>
																		<td> <a href="../elements/89914448-0804-4264-b192-41e7b0a4459d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/64e5bc20-2bb0-49d6-87e1-d8bb02baa556.html" target="element"> National archive </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/270a4bf3-ba50-4870-9703-39a73acd1ccb.html" target="element">  </a> </td>
																		<td> <a href="../elements/270a4bf3-ba50-4870-9703-39a73acd1ccb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/eaf774b6-ffad-40b8-bf12-7df040366194.html" target="element"> Academic publisher </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a9a1feb1-9bde-4794-8606-b1f6ad06bdc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/a9a1feb1-9bde-4794-8606-b1f6ad06bdc9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/9d00ec54-ab4a-497e-bc41-efe6bd6f568d.html" target="element"> Industry partner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1006ac6e-a988-4d92-ae09-27e40c1a4564.html" target="element">  </a> </td>
																		<td> <a href="../elements/1006ac6e-a988-4d92-ae09-27e40c1a4564.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/f2880faa-dc23-452f-acd5-3b34e9d65dc4.html" target="element"> Commercial provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a02b37e9-0a0c-406b-a89c-25c5b229d3e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/a02b37e9-0a0c-406b-a89c-25c5b229d3e6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/92047acb-e019-4d25-bfd4-b900775d780d.html" target="element"> Government </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ebe25154-21c0-42cd-8ca8-d9622cf17a57.html" target="element">  </a> </td>
																		<td> <a href="../elements/ebe25154-21c0-42cd-8ca8-d9622cf17a57.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/64569839-2e84-4747-89a8-9669fbeda849.html" target="element"> Industry </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ca4582cc-99ba-4447-9ef8-461a0c735bb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca4582cc-99ba-4447-9ef8-461a0c735bb8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/d3b59603-8797-4515-9894-87c64ad3eb91.html" target="element"> Funding agency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3bfe375-f904-4aff-9dd2-d70bd33bbacc.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3bfe375-f904-4aff-9dd2-d70bd33bbacc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d1b38367-05db-4685-a47a-cdd694d1b178.html" target="element"> External </a> </td>
																		<td> <a href="../elements/e2492fa0-0b0d-482f-849b-19b30b5b1dff.html" target="element"> Data Protection Authority </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ee100399-4ef9-4463-bcd5-4c92505dc2bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/ee100399-4ef9-4463-bcd5-4c92505dc2bb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/64569839-2e84-4747-89a8-9669fbeda849.html" target="element"> Industry </a> </td>
																				<td> <a href="../elements/9d00ec54-ab4a-497e-bc41-efe6bd6f568d.html" target="element"> Industry partner </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2cc18485-e0a9-4231-8c4f-2c011d9b825c.html" target="element">  </a> </td>
																		<td> <a href="../elements/2cc18485-e0a9-4231-8c4f-2c011d9b825c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html" target="element"> Administration </a> </td>
																		<td> <a href="../elements/5bdf6f19-652d-4869-9235-7618a9bc5465.html" target="element"> Finance and Accounting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa659619-50c2-4c56-b922-fb3ed1d5ceb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa659619-50c2-4c56-b922-fb3ed1d5ceb9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html" target="element"> Administration </a> </td>
																		<td> <a href="../elements/7d378a1f-c09e-4e62-8149-836319132b95.html" target="element"> Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b3900e68-6994-47b2-9666-0a5630b6ff1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/b3900e68-6994-47b2-9666-0a5630b6ff1b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html" target="element"> Administration </a> </td>
																		<td> <a href="../elements/bc8a78f7-45ac-4c16-b07c-45f6d3b961a0.html" target="element"> CFO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ffc9e114-5496-4ae5-84ac-3996b785231c.html" target="element">  </a> </td>
																		<td> <a href="../elements/ffc9e114-5496-4ae5-84ac-3996b785231c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html" target="element"> Administration </a> </td>
																		<td> <a href="../elements/92491df5-8be9-4630-a8a7-6217df4c7d7b.html" target="element"> Legal department </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4dc6c974-f438-4412-a526-241427e65079.html" target="element">  </a> </td>
																		<td> <a href="../elements/4dc6c974-f438-4412-a526-241427e65079.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html" target="element"> Administration </a> </td>
																		<td> <a href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html" target="element"> CISO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bdae39f3-f319-416e-8ad2-f9d60611dd9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/bdae39f3-f319-416e-8ad2-f9d60611dd9f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c0119fd-99b9-47a8-b23f-269db6bc19f7.html" target="element"> Administration </a> </td>
																		<td> <a href="../elements/82d7b2a0-79e6-4e28-bc45-98b0f03122ef.html" target="element"> Security Officer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/789236e8-52b0-44a7-9497-b81ce7700cef.html" target="element">  </a> </td>
																				<td> <a href="../elements/789236e8-52b0-44a7-9497-b81ce7700cef.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/bc8a78f7-45ac-4c16-b07c-45f6d3b961a0.html" target="element"> CFO </a> </td>
																				<td> <a href="../elements/5bdf6f19-652d-4869-9235-7618a9bc5465.html" target="element"> Finance and Accounting </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c3436313-0a92-43b1-af0c-50b59444bbdd.html" target="element">  </a> </td>
																				<td> <a href="../elements/c3436313-0a92-43b1-af0c-50b59444bbdd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html" target="element"> CISO </a> </td>
																				<td> <a href="../elements/82d7b2a0-79e6-4e28-bc45-98b0f03122ef.html" target="element"> Security Officer </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/6be71b5d-6482-4604-8f45-9b08a2b88de0.html" target="element">  </a> </td>
																		<td> <a href="../elements/6be71b5d-6482-4604-8f45-9b08a2b88de0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td>
																		<td> <a href="../elements/1d7bf6c4-a603-46be-8e10-252bf3ca1062.html" target="element"> Reviewer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c9dce973-f7a7-4060-b5a3-c64e01c57839.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9dce973-f7a7-4060-b5a3-c64e01c57839.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td>
																		<td> <a href="../elements/312d01c5-165e-4b82-926e-8ffb85fa460e.html" target="element"> PhD Supervisor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4020c71-0f8f-46a4-83b3-916eeeea6806.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4020c71-0f8f-46a4-83b3-916eeeea6806.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td>
																		<td> <a href="../elements/12b09266-3f54-451f-ab58-aa6ba6a41744.html" target="element"> Journal editor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f74401d-a3d4-4bec-a0b6-9e926b90c63c.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f74401d-a3d4-4bec-a0b6-9e926b90c63c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td>
																		<td> <a href="../elements/c254adef-951b-4bc6-afbd-6ed606e6588b.html" target="element"> Researcher </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1a6e72b-c423-474b-844d-e611c8dbd8fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1a6e72b-c423-474b-844d-e611c8dbd8fd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td>
																		<td> <a href="../elements/432e5258-e544-4cef-9a2c-2b4111a20e7e.html" target="element"> Principal Investigator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2ef1b3c-8754-4389-bfda-4b02e5f7e449.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2ef1b3c-8754-4389-bfda-4b02e5f7e449.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td>
																		<td> <a href="../elements/128b98d2-021e-4e68-ad7a-c74b0d265f38.html" target="element"> Research community </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99c92e30-0cbc-45e9-917b-4808c2bf5ed9.html" target="element">  </a> </td>
																		<td> <a href="../elements/99c92e30-0cbc-45e9-917b-4808c2bf5ed9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1247d313-4eae-451b-aa48-b2535eec7008.html" target="element"> Research </a> </td>
																		<td> <a href="../elements/ef32e773-5adc-4f62-968e-8e76c6bf55ad.html" target="element"> Research Practice Committee </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/de2df15a-c797-4f8e-a389-71a42aef28e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/de2df15a-c797-4f8e-a389-71a42aef28e8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/c254adef-951b-4bc6-afbd-6ed606e6588b.html" target="element"> Researcher </a> </td>
																				<td> <a href="../elements/312d01c5-165e-4b82-926e-8ffb85fa460e.html" target="element"> PhD Supervisor </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e66c3756-065d-47ef-8685-8ceddcb071e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/e66c3756-065d-47ef-8685-8ceddcb071e2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/c254adef-951b-4bc6-afbd-6ed606e6588b.html" target="element"> Researcher </a> </td>
																				<td> <a href="../elements/432e5258-e544-4cef-9a2c-2b4111a20e7e.html" target="element"> Principal Investigator </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>