<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Local Policies</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Local Policies</b>
			(<span class="i18n-viewpoint-motivation"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/a5603449-ed71-45be-a917-23df12e69af0.png" alt="Local Policies" usemap="#a5603449-ed71-45be-a917-23df12e69af0map">
			<map name="a5603449-ed71-45be-a917-23df12e69af0map">
						<area shape="rect" coords="154,140,287,217" href="../elements/8b3bfe70-95e0-46cc-a00f-b154537d0553.html"  target="element">
						<area shape="rect" coords="10,140,143,217" href="../elements/b441abd7-8655-4695-9fbd-a3a302aaf12f.html"  target="element">
						<area shape="rect" coords="730,140,863,217" href="../elements/8c73aff8-e5b1-48df-877b-773c48329dcc.html"  target="element">
						<area shape="rect" coords="298,140,431,217" href="../elements/f3eb2a3b-2669-466a-bd8b-b8977dd9f5e5.html"  target="element">
						<area shape="rect" coords="442,140,575,217" href="../elements/6ddd19fd-ec10-4e04-9f27-714d36305506.html"  target="element">
						<area shape="rect" coords="370,10,503,87" href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html"  target="element">
						<area shape="rect" coords="586,140,719,217" href="../elements/f5747401-68e0-4ab0-92d6-a14194dc9196.html"  target="element">
						<area shape="rect" coords="370,442,503,519" href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html"  target="element">
						<area shape="rect" coords="370,310,503,387" href="../elements/4e033ef0-a0e7-4629-ac6a-352bf4c72b3d.html"  target="element">
						<area shape="rect" coords="514,574,647,651" href="../elements/5ad6c6f2-2c7e-40cd-b2f3-fc97edb6af3d.html"  target="element">
						<area shape="rect" coords="370,574,503,651" href="../elements/aa9e755d-553e-47ca-b6fe-ea42ff50d8a9.html"  target="element">
						<area shape="rect" coords="226,574,359,651" href="../elements/10e24e77-8293-4c7e-83ca-a47c65b3a6b6.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Policies at the university level influencing or driving research data management.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/8b3bfe70-95e0-46cc-a00f-b154537d0553.html" target="element"> Data Protection Policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/b441abd7-8655-4695-9fbd-a3a302aaf12f.html" target="element"> Data Classification Policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/8c73aff8-e5b1-48df-877b-773c48329dcc.html" target="element"> Data Retension Policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/f3eb2a3b-2669-466a-bd8b-b8977dd9f5e5.html" target="element"> Privacy Policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/6ddd19fd-ec10-4e04-9f27-714d36305506.html" target="element"> Password Policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html" target="element"> Information Security Policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/f5747401-68e0-4ab0-92d6-a14194dc9196.html" target="element"> Research Data Policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html" target="element"> Code of Conduct for Research Integrity </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/4e033ef0-a0e7-4629-ac6a-352bf4c72b3d.html" target="element"> Academic Integrity </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/5ad6c6f2-2c7e-40cd-b2f3-fc97edb6af3d.html" target="element"> Guidelines for honest reporting of research </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/aa9e755d-553e-47ca-b6fe-ea42ff50d8a9.html" target="element"> Guidelines for transparency in research </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/10e24e77-8293-4c7e-83ca-a47c65b3a6b6.html" target="element"> Guidelines for accountability in research </a> </td><td class="i18n-elementtype-Driver"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d9027085-83fd-4abb-a522-3433db871fb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9027085-83fd-4abb-a522-3433db871fb2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html" target="element"> Information Security Policy </a> </td>
																		<td> <a href="../elements/6ddd19fd-ec10-4e04-9f27-714d36305506.html" target="element"> Password Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b48e49f7-cafe-427f-b987-9060041ee7bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/b48e49f7-cafe-427f-b987-9060041ee7bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html" target="element"> Information Security Policy </a> </td>
																		<td> <a href="../elements/f3eb2a3b-2669-466a-bd8b-b8977dd9f5e5.html" target="element"> Privacy Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a408870-657a-4a23-8ec3-ff068de3077c.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a408870-657a-4a23-8ec3-ff068de3077c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html" target="element"> Information Security Policy </a> </td>
																		<td> <a href="../elements/8c73aff8-e5b1-48df-877b-773c48329dcc.html" target="element"> Data Retension Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/80711387-09f1-44c7-8839-b950dc7fac05.html" target="element">  </a> </td>
																		<td> <a href="../elements/80711387-09f1-44c7-8839-b950dc7fac05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html" target="element"> Information Security Policy </a> </td>
																		<td> <a href="../elements/b441abd7-8655-4695-9fbd-a3a302aaf12f.html" target="element"> Data Classification Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d623d008-de21-4f7c-8f68-94fa690b9d40.html" target="element">  </a> </td>
																		<td> <a href="../elements/d623d008-de21-4f7c-8f68-94fa690b9d40.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html" target="element"> Information Security Policy </a> </td>
																		<td> <a href="../elements/8b3bfe70-95e0-46cc-a00f-b154537d0553.html" target="element"> Data Protection Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51893e35-6462-4352-9885-222ea40b9d86.html" target="element">  </a> </td>
																		<td> <a href="../elements/51893e35-6462-4352-9885-222ea40b9d86.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6b2853b3-9442-4859-b7c9-0111ebec2b93.html" target="element"> Information Security Policy </a> </td>
																		<td> <a href="../elements/f5747401-68e0-4ab0-92d6-a14194dc9196.html" target="element"> Research Data Policy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6114b468-376f-439d-ab87-f9d08206b92e.html" target="element">  </a> </td>
																		<td> <a href="../elements/6114b468-376f-439d-ab87-f9d08206b92e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html" target="element"> Code of Conduct for Research Integrity </a> </td>
																		<td> <a href="../elements/5ad6c6f2-2c7e-40cd-b2f3-fc97edb6af3d.html" target="element"> Guidelines for honest reporting of research </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1134b237-7b16-4317-9dd9-cb26bd5a815d.html" target="element">  </a> </td>
																		<td> <a href="../elements/1134b237-7b16-4317-9dd9-cb26bd5a815d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html" target="element"> Code of Conduct for Research Integrity </a> </td>
																		<td> <a href="../elements/aa9e755d-553e-47ca-b6fe-ea42ff50d8a9.html" target="element"> Guidelines for transparency in research </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/88ff1dd7-69bb-4f46-bcf0-0446b0f3eb04.html" target="element">  </a> </td>
																		<td> <a href="../elements/88ff1dd7-69bb-4f46-bcf0-0446b0f3eb04.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html" target="element"> Code of Conduct for Research Integrity </a> </td>
																		<td> <a href="../elements/10e24e77-8293-4c7e-83ca-a47c65b3a6b6.html" target="element"> Guidelines for accountability in research </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f34418f9-4f14-4334-9b9e-b2a8eeda88c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/f34418f9-4f14-4334-9b9e-b2a8eeda88c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html" target="element"> Code of Conduct for Research Integrity </a> </td>
																		<td> <a href="../elements/f5747401-68e0-4ab0-92d6-a14194dc9196.html" target="element"> Research Data Policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74d261e0-0460-4597-9322-20b6bb1e3e58.html" target="element">  </a> </td>
																		<td> <a href="../elements/74d261e0-0460-4597-9322-20b6bb1e3e58.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html" target="element"> Code of Conduct for Research Integrity </a> </td>
																		<td> <a href="../elements/8c73aff8-e5b1-48df-877b-773c48329dcc.html" target="element"> Data Retension Policy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/530a2065-fd29-489a-b3ad-5a1f687a511d.html" target="element">  </a> </td>
																		<td> <a href="../elements/530a2065-fd29-489a-b3ad-5a1f687a511d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4e033ef0-a0e7-4629-ac6a-352bf4c72b3d.html" target="element"> Academic Integrity </a> </td>
																		<td> <a href="../elements/116bf6dd-5cf7-408b-942c-76f52d2f8c3e.html" target="element"> Code of Conduct for Research Integrity </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>