<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Raw data: Goals</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Raw data: Goals</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/a9268cb7-9c27-4434-9bf3-f5965b746393.png" alt="Raw data: Goals" usemap="#a9268cb7-9c27-4434-9bf3-f5965b746393map">
			<map name="a9268cb7-9c27-4434-9bf3-f5965b746393map">
								<area shape="rect" coords="308,116,578,226" href="../elements/2c472f5d-84e7-46be-85ca-fa4bcadd251e.html"  target="element">
								<area shape="rect" coords="576,284,846,394" href="../elements/ef6ea080-e24f-4b5f-9be9-b23e693c7457.html"  target="element">
								<area shape="rect" coords="576,1004,846,1114" href="../elements/b60e0408-deaa-4e72-9fef-3d1050c25b66.html"  target="element">
								<area shape="rect" coords="40,1004,310,1114" href="../elements/3940473e-073e-4cdc-9c35-4205de979b47.html"  target="element">
								<area shape="rect" coords="308,1220,578,1330" href="../elements/d9c2b15a-1a24-44c2-b7af-ab1988bacee8.html"  target="element">
								<area shape="rect" coords="576,836,846,946" href="../elements/6f58e09a-cfc9-4187-ad0a-54a8692cfd57.html"  target="element">
								<area shape="rect" coords="40,284,310,394" href="../elements/0bb6e6af-33ae-4f20-8106-0382b495ecd1.html"  target="element">
								<area shape="rect" coords="308,620,578,730" href="../elements/55f3873c-030e-441c-83c7-948745154c8d.html"  target="element">
								<area shape="rect" coords="576,1112,846,1222" href="../elements/9b187b4e-c3a6-423e-a2ab-db7893b96389.html"  target="element">
								<area shape="rect" coords="40,1112,310,1222" href="../elements/ec2d3e71-5d38-4b30-a1bb-7df3145907eb.html"  target="element">
								<area shape="rect" coords="40,620,310,730" href="../elements/53a0d14e-7ec6-4aba-8cba-102b9d758751.html"  target="element">
								<area shape="rect" coords="308,1004,578,1114" href="../elements/b79e344d-cce4-49ca-ba62-a81d52253749.html"  target="element">
								<area shape="rect" coords="576,1220,846,1330" href="../elements/fdca09e5-f963-43ea-8501-c96227d1c66b.html"  target="element">
								<area shape="rect" coords="576,620,846,730" href="../elements/3dce7d54-cdab-4f91-b587-d5e59a47331a.html"  target="element">
								<area shape="rect" coords="308,728,578,838" href="../elements/dff42542-f03c-4977-8c99-5193d7210f49.html"  target="element">
								<area shape="rect" coords="42,836,312,946" href="../elements/292da136-5d35-4bb6-902a-18e1e44b5aad.html"  target="element">
								<area shape="rect" coords="40,1220,310,1330" href="../elements/9f926f15-0261-4f3b-8a48-6fabb7c9c496.html"  target="element">
								<area shape="rect" coords="308,452,578,562" href="../elements/1b9b3e17-a8c6-47f3-b5f3-5e97ad28ac02.html"  target="element">
								<area shape="rect" coords="40,452,310,562" href="../elements/6612f3d4-81f6-4fdc-93d9-997dbe710692.html"  target="element">
								<area shape="rect" coords="576,728,846,838" href="../elements/6156482d-a85f-4713-a983-b33bb58ca07d.html"  target="element">
								<area shape="rect" coords="576,452,846,562" href="../elements/bcd09968-bde9-46ef-a034-2037e0a7351c.html"  target="element">
								<area shape="rect" coords="308,1112,578,1222" href="../elements/dd25bdd7-ce0b-4e14-890b-dbd3bac27c8c.html"  target="element">
								<area shape="rect" coords="42,728,312,838" href="../elements/527fc6f8-fd5d-487a-80bd-7864c1c7fdf4.html"  target="element">
								<area shape="rect" coords="308,284,578,394" href="../elements/48cac99c-d92c-4248-949f-c76a01b01d2c.html"  target="element">

						<area shape="rect" coords="20,20,886,1390" href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html"  target="element">
								<area shape="rect" coords="1196,116,1466,226" href="../elements/8122522f-a49a-4c08-87f7-27811c3d8d1b.html"  target="element">
								<area shape="rect" coords="1464,392,1734,502" href="../elements/f0c94f46-fc2c-44f1-b01f-825d95248e39.html"  target="element">
								<area shape="rect" coords="924,980,1194,1090" href="../elements/3f840f06-c6f2-48dd-a6ba-cf481c78f7b4.html"  target="element">
								<area shape="rect" coords="1192,1124,1462,1234" href="../elements/8f157dd2-e5b9-4f79-8834-108a8d5b78cb.html"  target="element">
								<area shape="rect" coords="1192,668,1462,778" href="../elements/dc65282d-1717-437d-8c20-744e17ba9d22.html"  target="element">
								<area shape="rect" coords="1196,284,1466,394" href="../elements/df484ee8-de5b-4c31-834f-ab52768fcbdf.html"  target="element">
								<area shape="rect" coords="928,500,1198,610" href="../elements/b25eb559-ee05-4817-af29-b772161ebf2f.html"  target="element">
								<area shape="rect" coords="1196,836,1466,946" href="../elements/7265cb24-1d3c-445a-ac95-684cc3d41bcb.html"  target="element">
								<area shape="rect" coords="928,836,1198,946" href="../elements/82780d58-81f2-49ff-b138-d7154d276a4f.html"  target="element">
								<area shape="rect" coords="928,284,1198,394" href="../elements/5ff20b8f-ac32-47a4-92f0-40d9687eccba.html"  target="element">
								<area shape="rect" coords="1460,668,1730,778" href="../elements/0d5102d6-1403-4eb4-80de-e7b9d9ba73c5.html"  target="element">
								<area shape="rect" coords="924,668,1194,778" href="../elements/1e39dd8e-6915-4dea-8349-b01828812671.html"  target="element">
								<area shape="rect" coords="1196,392,1466,502" href="../elements/2f8fc9f0-1d23-4416-963d-625fde0bf5ff.html"  target="element">
								<area shape="rect" coords="924,1124,1194,1234" href="../elements/6b7c5b44-76d9-4e20-be9f-c4324b830149.html"  target="element">
								<area shape="rect" coords="928,392,1198,502" href="../elements/3cf62c13-a706-4133-b289-f3d253055a8c.html"  target="element">
								<area shape="rect" coords="1464,284,1734,394" href="../elements/051f737a-7139-4875-9b70-b25093005cb5.html"  target="element">

						<area shape="rect" coords="908,20,1774,1294" href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html"  target="element">
								<area shape="rect" coords="2084,116,2354,226" href="../elements/a20f27eb-0bef-4b90-970b-f75e2441c77b.html"  target="element">
								<area shape="rect" coords="1816,788,2086,898" href="../elements/e3c5dfd5-f848-4d55-9bd3-041224f2e164.html"  target="element">
								<area shape="rect" coords="1816,1124,2086,1234" href="../elements/43ab30e1-ee66-4e1a-9cce-be66b93a5ae6.html"  target="element">
								<area shape="rect" coords="2084,956,2354,1066" href="../elements/6cb08bd7-e930-43d8-9fc4-342066ade7ba.html"  target="element">
								<area shape="rect" coords="2352,452,2622,562" href="../elements/9b52e9ca-af7a-4408-948e-e3791cf55e9d.html"  target="element">
								<area shape="rect" coords="2352,620,2622,730" href="../elements/808697af-055d-4e6f-932a-b4eaaa98539b.html"  target="element">
								<area shape="rect" coords="2084,620,2354,730" href="../elements/f642ebc8-6989-40b9-a632-53f18db02ca7.html"  target="element">
								<area shape="rect" coords="1816,452,2086,562" href="../elements/b510b21b-7cbf-4cd5-bfe7-1e27799fca51.html"  target="element">
								<area shape="rect" coords="2084,284,2354,394" href="../elements/9cd5d613-64d6-40e5-98d0-520c6773b2f1.html"  target="element">
								<area shape="rect" coords="2352,788,2622,898" href="../elements/3ef29644-d2bb-4af3-a9fa-0c89177d81d1.html"  target="element">
								<area shape="rect" coords="1816,284,2086,394" href="../elements/61e10e39-bce4-476e-ba72-29dfd09ee776.html"  target="element">
								<area shape="rect" coords="2084,788,2354,898" href="../elements/ea556c17-4800-4fd7-958c-53064eb8b763.html"  target="element">
								<area shape="rect" coords="2084,452,2354,562" href="../elements/3630194b-75f7-4fbf-b07c-5a5349b382b8.html"  target="element">
								<area shape="rect" coords="2352,284,2622,394" href="../elements/883c7fd7-2379-431c-8418-1f6bfe351f98.html"  target="element">
								<area shape="rect" coords="1816,620,2086,730" href="../elements/30425978-9409-48a7-ad1b-3cde23068fcc.html"  target="element">
								<area shape="rect" coords="2084,1124,2354,1234" href="../elements/956d074e-8b5e-497c-882e-e26e337b8e94.html"  target="element">
								<area shape="rect" coords="1816,956,2086,1066" href="../elements/3de86412-1576-4dd3-b398-04d7790a7a71.html"  target="element">

						<area shape="rect" coords="1796,20,2662,1294" href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">During the three workshops in the DMbD project about 30 possible goals related to research data management where found. It was apparent that quite a few of the statements that had been described as "drivers" should probably be modelled as goals. After adding these as goals and an effort to harmonize abstraction levels about 50 goals have been identified. 

Goals that seem related have been visually grouped together.

A rough classification of the goals have been made by whether they mostly relate to research, management or infratructure.

It is possible that a few of these should be modeled as drivers. It can be difficult to formulate drivers and and goals as stand-alone elements, but this becomes much clearer during the detailed moddeling of different subject domimains.

</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/2c472f5d-84e7-46be-85ca-fa4bcadd251e.html" target="element"> High Quiality Research </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/ef6ea080-e24f-4b5f-9be9-b23e693c7457.html" target="element"> Ethical compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/b60e0408-deaa-4e72-9fef-3d1050c25b66.html" target="element"> Integrity checks </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/3940473e-073e-4cdc-9c35-4205de979b47.html" target="element"> Apply quality (AI too) control </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/d9c2b15a-1a24-44c2-b7af-ab1988bacee8.html" target="element"> Reproducible execution environment </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/6f58e09a-cfc9-4187-ad0a-54a8692cfd57.html" target="element"> Standardize data </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/0bb6e6af-33ae-4f20-8106-0382b495ecd1.html" target="element"> Academic compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/55f3873c-030e-441c-83c7-948745154c8d.html" target="element"> Easy archiving </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/9b187b4e-c3a6-423e-a2ab-db7893b96389.html" target="element"> Automated well defined pipelines </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/ec2d3e71-5d38-4b30-a1bb-7df3145907eb.html" target="element"> Quality control and testing of this </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/53a0d14e-7ec6-4aba-8cba-102b9d758751.html" target="element"> Data governance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/b79e344d-cce4-49ca-ba62-a81d52253749.html" target="element"> Documented calibration </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/fdca09e5-f963-43ea-8501-c96227d1c66b.html" target="element"> Stable environment (as buggy as it was) </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/3dce7d54-cdab-4f91-b587-d5e59a47331a.html" target="element"> Portability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/dff42542-f03c-4977-8c99-5193d7210f49.html" target="element"> Documented data handling (FAIR) </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/292da136-5d35-4bb6-902a-18e1e44b5aad.html" target="element"> Version control </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/9f926f15-0261-4f3b-8a48-6fabb7c9c496.html" target="element"> Use and handle both open source and commercial software </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/1b9b3e17-a8c6-47f3-b5f3-5e97ad28ac02.html" target="element"> Applying various methods on data </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/6612f3d4-81f6-4fdc-93d9-997dbe710692.html" target="element"> Experimental approach </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/6156482d-a85f-4713-a983-b33bb58ca07d.html" target="element"> FAIR </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/bcd09968-bde9-46ef-a034-2037e0a7351c.html" target="element"> Pipelining methods </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/dd25bdd7-ce0b-4e14-890b-dbd3bac27c8c.html" target="element"> Documented execution environment </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/527fc6f8-fd5d-487a-80bd-7864c1c7fdf4.html" target="element"> Data sharing </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/48cac99c-d92c-4248-949f-c76a01b01d2c.html" target="element"> Document honesty </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											
											<tr><td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/8122522f-a49a-4c08-87f7-27811c3d8d1b.html" target="element"> High Quality Management </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/f0c94f46-fc2c-44f1-b01f-825d95248e39.html" target="element"> Handover of compliant datasets </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/3f840f06-c6f2-48dd-a6ba-cf481c78f7b4.html" target="element"> Track/monitor outcomes vs requirements and/or promises </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/8f157dd2-e5b9-4f79-8834-108a8d5b78cb.html" target="element"> Predictability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/dc65282d-1717-437d-8c20-744e17ba9d22.html" target="element"> Govern access to datasets </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/df484ee8-de5b-4c31-834f-ab52768fcbdf.html" target="element"> Monitoring of legal compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/b25eb559-ee05-4817-af29-b772161ebf2f.html" target="element"> Monitoring options for compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/7265cb24-1d3c-445a-ac95-684cc3d41bcb.html" target="element"> Cost monitoring and optimization </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/82780d58-81f2-49ff-b138-d7154d276a4f.html" target="element"> Ability to govern data assets </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/5ff20b8f-ac32-47a4-92f0-40d9687eccba.html" target="element"> Auditing </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/0d5102d6-1403-4eb4-80de-e7b9d9ba73c5.html" target="element"> Administrative contextual traceability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/1e39dd8e-6915-4dea-8349-b01828812671.html" target="element"> Continuous risk assessment </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/2f8fc9f0-1d23-4416-963d-625fde0bf5ff.html" target="element"> Contractual compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/6b7c5b44-76d9-4e20-be9f-c4324b830149.html" target="element"> Reduce complexity </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/3cf62c13-a706-4133-b289-f3d253055a8c.html" target="element"> Local policy compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/051f737a-7139-4875-9b70-b25093005cb5.html" target="element"> Legal compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											
											<tr><td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/a20f27eb-0bef-4b90-970b-f75e2441c77b.html" target="element"> High Quality Infrastructure </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/e3c5dfd5-f848-4d55-9bd3-041224f2e164.html" target="element"> Monitoring and alarming (success, error) </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/43ab30e1-ee66-4e1a-9cce-be66b93a5ae6.html" target="element"> Secure infrastructure </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/6cb08bd7-e930-43d8-9fc4-342066ade7ba.html" target="element"> Technical feasibility for real time media </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/9b52e9ca-af7a-4408-948e-e3791cf55e9d.html" target="element"> Access to sufficient capacity </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/808697af-055d-4e6f-932a-b4eaaa98539b.html" target="element"> Usability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/f642ebc8-6989-40b9-a632-53f18db02ca7.html" target="element"> Efficient data handling </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/b510b21b-7cbf-4cd5-bfe7-1e27799fca51.html" target="element"> Capacity planning </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/9cd5d613-64d6-40e5-98d0-520c6773b2f1.html" target="element"> Trust in technical and organizational setup Accessible environment "Research related goals" (peger p&#65533; samme krav som forskerne) </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/3ef29644-d2bb-4af3-a9fa-0c89177d81d1.html" target="element"> Traceability with added option for availability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/61e10e39-bce4-476e-ba72-29dfd09ee776.html" target="element"> Location independence </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/ea556c17-4800-4fd7-958c-53064eb8b763.html" target="element"> Service reliability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/3630194b-75f7-4fbf-b07c-5a5349b382b8.html" target="element"> Cost predictability if funding infrastructural needs </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/883c7fd7-2379-431c-8418-1f6bfe351f98.html" target="element"> Access to human support </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/30425978-9409-48a7-ad1b-3cde23068fcc.html" target="element"> Easy archiving </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/956d074e-8b5e-497c-882e-e26e337b8e94.html" target="element"> Secure work environment </a> </td><td class="i18n-elementtype-Goal"></td></tr>
													<tr><td> <a href="../elements/3de86412-1576-4dd3-b398-04d7790a7a71.html" target="element"> Slice data into subsets </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/c54b3b37-04e8-4d8e-84e2-33d6b247415b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c54b3b37-04e8-4d8e-84e2-33d6b247415b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/2c472f5d-84e7-46be-85ca-fa4bcadd251e.html" target="element"> High Quiality Research </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/be7e73ef-8839-4bde-b450-135fab3ae742.html" target="element">  </a> </td>
																		<td> <a href="../elements/be7e73ef-8839-4bde-b450-135fab3ae742.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/ef6ea080-e24f-4b5f-9be9-b23e693c7457.html" target="element"> Ethical compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fdb62ba8-ef91-43f1-bde8-67d02017f4eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/fdb62ba8-ef91-43f1-bde8-67d02017f4eb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/b60e0408-deaa-4e72-9fef-3d1050c25b66.html" target="element"> Integrity checks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/42f8745e-eb47-4c29-9294-39cd0150ea85.html" target="element">  </a> </td>
																		<td> <a href="../elements/42f8745e-eb47-4c29-9294-39cd0150ea85.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/3940473e-073e-4cdc-9c35-4205de979b47.html" target="element"> Apply quality (AI too) control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e678b0de-fe27-42af-8eaa-e7599325bbe2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e678b0de-fe27-42af-8eaa-e7599325bbe2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/d9c2b15a-1a24-44c2-b7af-ab1988bacee8.html" target="element"> Reproducible execution environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bce234b5-d89a-457d-9e08-cfecc4fa8589.html" target="element">  </a> </td>
																		<td> <a href="../elements/bce234b5-d89a-457d-9e08-cfecc4fa8589.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/6f58e09a-cfc9-4187-ad0a-54a8692cfd57.html" target="element"> Standardize data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf1b018a-e351-474d-b1fc-a0040f322071.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf1b018a-e351-474d-b1fc-a0040f322071.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/0bb6e6af-33ae-4f20-8106-0382b495ecd1.html" target="element"> Academic compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b940376-f768-4694-bc12-3298791f11ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b940376-f768-4694-bc12-3298791f11ca.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/55f3873c-030e-441c-83c7-948745154c8d.html" target="element"> Easy archiving </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d7694f2-dbd0-4671-922f-d1da8e60a490.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d7694f2-dbd0-4671-922f-d1da8e60a490.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/9b187b4e-c3a6-423e-a2ab-db7893b96389.html" target="element"> Automated well defined pipelines </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1c22d6f6-1d13-4abe-929b-44dd93e7c4da.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c22d6f6-1d13-4abe-929b-44dd93e7c4da.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/ec2d3e71-5d38-4b30-a1bb-7df3145907eb.html" target="element"> Quality control and testing of this </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f0b15900-ec41-471f-bc29-c97f093cdb26.html" target="element">  </a> </td>
																		<td> <a href="../elements/f0b15900-ec41-471f-bc29-c97f093cdb26.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/53a0d14e-7ec6-4aba-8cba-102b9d758751.html" target="element"> Data governance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/85dae6b4-ebb7-4d42-b65e-5beb01801b83.html" target="element">  </a> </td>
																		<td> <a href="../elements/85dae6b4-ebb7-4d42-b65e-5beb01801b83.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/b79e344d-cce4-49ca-ba62-a81d52253749.html" target="element"> Documented calibration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1829f63-65a5-4a12-bc2c-ced1fd89868a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1829f63-65a5-4a12-bc2c-ced1fd89868a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/fdca09e5-f963-43ea-8501-c96227d1c66b.html" target="element"> Stable environment (as buggy as it was) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5bb0fc3c-85c6-4733-b65f-2d4daac0215e.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bb0fc3c-85c6-4733-b65f-2d4daac0215e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/3dce7d54-cdab-4f91-b587-d5e59a47331a.html" target="element"> Portability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6fffe78-fc7e-4796-bc93-14fa28b39c84.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6fffe78-fc7e-4796-bc93-14fa28b39c84.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/dff42542-f03c-4977-8c99-5193d7210f49.html" target="element"> Documented data handling (FAIR) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a32ca3c7-315b-4cbf-b024-206911837724.html" target="element">  </a> </td>
																		<td> <a href="../elements/a32ca3c7-315b-4cbf-b024-206911837724.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/292da136-5d35-4bb6-902a-18e1e44b5aad.html" target="element"> Version control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f52fc9b3-43ce-4518-a532-2f6d5d323f08.html" target="element">  </a> </td>
																		<td> <a href="../elements/f52fc9b3-43ce-4518-a532-2f6d5d323f08.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/9f926f15-0261-4f3b-8a48-6fabb7c9c496.html" target="element"> Use and handle both open source and commercial software </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/527ac5b4-d4f3-4af2-95ab-496c2673ee0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/527ac5b4-d4f3-4af2-95ab-496c2673ee0d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/1b9b3e17-a8c6-47f3-b5f3-5e97ad28ac02.html" target="element"> Applying various methods on data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6866ee36-e390-47e0-a298-1b223eab03b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/6866ee36-e390-47e0-a298-1b223eab03b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/6612f3d4-81f6-4fdc-93d9-997dbe710692.html" target="element"> Experimental approach </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/514156d2-d6bd-474f-afd6-520bb8776fe3.html" target="element">  </a> </td>
																		<td> <a href="../elements/514156d2-d6bd-474f-afd6-520bb8776fe3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/6156482d-a85f-4713-a983-b33bb58ca07d.html" target="element"> FAIR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f19e059-a5fc-4c9b-9145-5e3721ac9ffb.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f19e059-a5fc-4c9b-9145-5e3721ac9ffb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/bcd09968-bde9-46ef-a034-2037e0a7351c.html" target="element"> Pipelining methods </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5df7e19a-b44d-4754-9cf3-037d85ad2cb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/5df7e19a-b44d-4754-9cf3-037d85ad2cb9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/dd25bdd7-ce0b-4e14-890b-dbd3bac27c8c.html" target="element"> Documented execution environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/507d0d27-9458-43b8-89da-8131c6ebd438.html" target="element">  </a> </td>
																		<td> <a href="../elements/507d0d27-9458-43b8-89da-8131c6ebd438.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/527fc6f8-fd5d-487a-80bd-7864c1c7fdf4.html" target="element"> Data sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aef701c6-d195-45dd-a849-caee535ebdda.html" target="element">  </a> </td>
																		<td> <a href="../elements/aef701c6-d195-45dd-a849-caee535ebdda.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/db0cb94f-10ee-4046-8770-388cfdd86148.html" target="element"> Quality of research </a> </td>
																		<td> <a href="../elements/48cac99c-d92c-4248-949f-c76a01b01d2c.html" target="element"> Document honesty </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/cec1b504-d807-43a0-9797-2e210eb3edfa.html" target="element">  </a> </td>
																		<td> <a href="../elements/cec1b504-d807-43a0-9797-2e210eb3edfa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/8122522f-a49a-4c08-87f7-27811c3d8d1b.html" target="element"> High Quality Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ff04eebe-3914-4700-8801-95ca400296ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff04eebe-3914-4700-8801-95ca400296ab.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/f0c94f46-fc2c-44f1-b01f-825d95248e39.html" target="element"> Handover of compliant datasets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/43dc6b75-4997-4dfa-85a4-ee3b1ca599cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/43dc6b75-4997-4dfa-85a4-ee3b1ca599cb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/3f840f06-c6f2-48dd-a6ba-cf481c78f7b4.html" target="element"> Track/monitor outcomes vs requirements and/or promises </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e074b1a1-a129-4b3f-bece-87aa71020053.html" target="element">  </a> </td>
																		<td> <a href="../elements/e074b1a1-a129-4b3f-bece-87aa71020053.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/8f157dd2-e5b9-4f79-8834-108a8d5b78cb.html" target="element"> Predictability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3845442b-d2a8-4c0f-a32c-3cc0d1d7c4a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/3845442b-d2a8-4c0f-a32c-3cc0d1d7c4a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/dc65282d-1717-437d-8c20-744e17ba9d22.html" target="element"> Govern access to datasets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dde9c5bd-315f-4e4d-bca4-61636043129a.html" target="element">  </a> </td>
																		<td> <a href="../elements/dde9c5bd-315f-4e4d-bca4-61636043129a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/df484ee8-de5b-4c31-834f-ab52768fcbdf.html" target="element"> Monitoring of legal compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de87c12e-291e-4df5-b74a-b120d39b1075.html" target="element">  </a> </td>
																		<td> <a href="../elements/de87c12e-291e-4df5-b74a-b120d39b1075.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/b25eb559-ee05-4817-af29-b772161ebf2f.html" target="element"> Monitoring options for compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bb4f3dd8-aef3-491c-a669-e480299c8040.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb4f3dd8-aef3-491c-a669-e480299c8040.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/7265cb24-1d3c-445a-ac95-684cc3d41bcb.html" target="element"> Cost monitoring and optimization </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3ad0c2c-4018-4ab7-bd6f-758dabd5ec75.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3ad0c2c-4018-4ab7-bd6f-758dabd5ec75.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/82780d58-81f2-49ff-b138-d7154d276a4f.html" target="element"> Ability to govern data assets </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/788f8d53-4a59-47c4-b1f7-9765aff74e55.html" target="element">  </a> </td>
																		<td> <a href="../elements/788f8d53-4a59-47c4-b1f7-9765aff74e55.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/5ff20b8f-ac32-47a4-92f0-40d9687eccba.html" target="element"> Auditing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bc3c768a-5d31-4c8d-87f3-3aeba6121915.html" target="element">  </a> </td>
																		<td> <a href="../elements/bc3c768a-5d31-4c8d-87f3-3aeba6121915.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/0d5102d6-1403-4eb4-80de-e7b9d9ba73c5.html" target="element"> Administrative contextual traceability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7fad6972-a7ce-4fcc-a1e8-5df0c4c27176.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fad6972-a7ce-4fcc-a1e8-5df0c4c27176.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/1e39dd8e-6915-4dea-8349-b01828812671.html" target="element"> Continuous risk assessment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/14322ef7-a6de-4e5c-809d-fc0dec97a991.html" target="element">  </a> </td>
																		<td> <a href="../elements/14322ef7-a6de-4e5c-809d-fc0dec97a991.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/2f8fc9f0-1d23-4416-963d-625fde0bf5ff.html" target="element"> Contractual compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/97ab1209-f9ac-40e8-9846-c7f4543cc8fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/97ab1209-f9ac-40e8-9846-c7f4543cc8fd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/6b7c5b44-76d9-4e20-be9f-c4324b830149.html" target="element"> Reduce complexity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/63930fa8-d0f9-427a-8abb-77214af98b3f.html" target="element">  </a> </td>
																		<td> <a href="../elements/63930fa8-d0f9-427a-8abb-77214af98b3f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/3cf62c13-a706-4133-b289-f3d253055a8c.html" target="element"> Local policy compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cce2d4c0-7f93-445b-9132-4baf61843ea5.html" target="element">  </a> </td>
																		<td> <a href="../elements/cce2d4c0-7f93-445b-9132-4baf61843ea5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a4af4226-db92-461c-8fed-b01e356fb7f5.html" target="element"> Quality of reporting and management </a> </td>
																		<td> <a href="../elements/051f737a-7139-4875-9b70-b25093005cb5.html" target="element"> Legal compliance </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/9b218084-b064-4d4d-8452-fdcb601ebaf4.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b218084-b064-4d4d-8452-fdcb601ebaf4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/a20f27eb-0bef-4b90-970b-f75e2441c77b.html" target="element"> High Quality Infrastructure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c34b5eac-19b5-48e7-b803-fec86909a8b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/c34b5eac-19b5-48e7-b803-fec86909a8b4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/e3c5dfd5-f848-4d55-9bd3-041224f2e164.html" target="element"> Monitoring and alarming (success, error) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/90773501-3030-4398-9d91-6e2800e17908.html" target="element">  </a> </td>
																		<td> <a href="../elements/90773501-3030-4398-9d91-6e2800e17908.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/43ab30e1-ee66-4e1a-9cce-be66b93a5ae6.html" target="element"> Secure infrastructure </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f277fbca-a3bc-48ba-8536-82d3c48ebcd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/f277fbca-a3bc-48ba-8536-82d3c48ebcd2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/6cb08bd7-e930-43d8-9fc4-342066ade7ba.html" target="element"> Technical feasibility for real time media </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/132b3a29-bf76-4a71-a6c7-44cb04bd211f.html" target="element">  </a> </td>
																		<td> <a href="../elements/132b3a29-bf76-4a71-a6c7-44cb04bd211f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/9b52e9ca-af7a-4408-948e-e3791cf55e9d.html" target="element"> Access to sufficient capacity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e3540c20-9bcd-4760-a6b4-10e22b46b122.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3540c20-9bcd-4760-a6b4-10e22b46b122.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/808697af-055d-4e6f-932a-b4eaaa98539b.html" target="element"> Usability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/abdd7aad-f0e3-49ca-a943-a27916007276.html" target="element">  </a> </td>
																		<td> <a href="../elements/abdd7aad-f0e3-49ca-a943-a27916007276.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/f642ebc8-6989-40b9-a632-53f18db02ca7.html" target="element"> Efficient data handling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7abd9da4-48b6-442b-a5bb-b85a1604a3c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/7abd9da4-48b6-442b-a5bb-b85a1604a3c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/b510b21b-7cbf-4cd5-bfe7-1e27799fca51.html" target="element"> Capacity planning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89bbb7f5-406f-4c94-ac7b-e828a08d8728.html" target="element">  </a> </td>
																		<td> <a href="../elements/89bbb7f5-406f-4c94-ac7b-e828a08d8728.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/9cd5d613-64d6-40e5-98d0-520c6773b2f1.html" target="element"> Trust in technical and organizational setup Accessible environment "Research related goals" (peger p&#65533; samme krav som forskerne) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/83518ee9-0df0-452b-ae52-ac9b273e9397.html" target="element">  </a> </td>
																		<td> <a href="../elements/83518ee9-0df0-452b-ae52-ac9b273e9397.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/3ef29644-d2bb-4af3-a9fa-0c89177d81d1.html" target="element"> Traceability with added option for availability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f4d2160-03e0-4849-945d-0307e1fd5d37.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f4d2160-03e0-4849-945d-0307e1fd5d37.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/61e10e39-bce4-476e-ba72-29dfd09ee776.html" target="element"> Location independence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0f50f391-324d-469f-a7cd-e19e6477824b.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f50f391-324d-469f-a7cd-e19e6477824b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/ea556c17-4800-4fd7-958c-53064eb8b763.html" target="element"> Service reliability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/175a908a-12e1-4886-bca5-24e309cadd71.html" target="element">  </a> </td>
																		<td> <a href="../elements/175a908a-12e1-4886-bca5-24e309cadd71.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/3630194b-75f7-4fbf-b07c-5a5349b382b8.html" target="element"> Cost predictability if funding infrastructural needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/92df3320-ddf3-44a8-8794-86abdbeaa424.html" target="element">  </a> </td>
																		<td> <a href="../elements/92df3320-ddf3-44a8-8794-86abdbeaa424.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/883c7fd7-2379-431c-8418-1f6bfe351f98.html" target="element"> Access to human support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d86dd792-94b7-400e-b48e-6e7bf0086b8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/d86dd792-94b7-400e-b48e-6e7bf0086b8f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/30425978-9409-48a7-ad1b-3cde23068fcc.html" target="element"> Easy archiving </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f96e2c8-b43a-4b07-9f04-d861fc32208c.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f96e2c8-b43a-4b07-9f04-d861fc32208c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/956d074e-8b5e-497c-882e-e26e337b8e94.html" target="element"> Secure work environment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e614ffef-81d2-4c86-8119-98eabb5a1885.html" target="element">  </a> </td>
																		<td> <a href="../elements/e614ffef-81d2-4c86-8119-98eabb5a1885.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a63f1170-9024-44cf-b987-ed9f2cb2a092.html" target="element"> Quality of infrastructure </a> </td>
																		<td> <a href="../elements/3de86412-1576-4dd3-b398-04d7790a7a71.html" target="element"> Slice data into subsets </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>