<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Data Protection Authority</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Data Protection Authority</b>
			(<span class="i18n-viewpoint-motivation"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/bc5c79cb-2cd5-4135-8d55-f72d07027577.png" alt="Data Protection Authority" usemap="#bc5c79cb-2cd5-4135-8d55-f72d07027577map">
			<map name="bc5c79cb-2cd5-4135-8d55-f72d07027577map">
						<area shape="rect" coords="10,10,155,83" href="../elements/e2492fa0-0b0d-482f-849b-19b30b5b1dff.html"  target="element">
						<area shape="rect" coords="214,370,359,443" href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html"  target="element">
						<area shape="rect" coords="214,130,359,203" href="../elements/a7d01333-3f41-4b30-8c5f-6624b31535a6.html"  target="element">
						<area shape="rect" coords="10,130,155,203" href="../elements/b3935e77-a561-4cfd-985f-91c667108c2a.html"  target="element">
						<area shape="rect" coords="214,10,359,83" href="../elements/0de3eeff-23da-435c-941c-d29ddef8a8b3.html"  target="element">
						<area shape="rect" coords="214,490,359,563" href="../elements/00cbc7e0-50c6-4a6a-bfb3-110847a00041.html"  target="element">
						<area shape="rect" coords="10,370,155,443" href="../elements/a922b43c-90d3-4564-950e-f2c75a4ef880.html"  target="element">
						<area shape="rect" coords="10,490,155,563" href="../elements/7b6f2e77-9870-4f8e-a852-af68c6966cce.html"  target="element">
						<area shape="rect" coords="418,370,563,443" href="../elements/49973dbb-95d8-4e51-b996-b98a03b98c92.html"  target="element">
						<area shape="rect" coords="418,490,563,563" href="../elements/e1fced1d-08dd-4038-b2a0-47122a5c3554.html"  target="element">
						<area shape="rect" coords="418,250,563,323" href="../elements/c04fb9fd-56a7-446e-80e2-1acca2f9c166.html"  target="element">
						<area shape="rect" coords="214,250,359,323" href="../elements/8372c071-ff92-404a-ade2-719d7aff2eb3.html"  target="element">
						<area shape="rect" coords="10,250,155,323" href="../elements/28268ee6-7df1-4ec8-86d8-1dcb50618ed1.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Data protection authority viewpoint for research data management. 

The national data protection authority is charged with enforcing data protection legislation like the GDPR
 

</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/e2492fa0-0b0d-482f-849b-19b30b5b1dff.html" target="element"> Data Protection Authority </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html" target="element"> Auditing of data protection implementation </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/a7d01333-3f41-4b30-8c5f-6624b31535a6.html" target="element"> GDPR - General Data Protection Regulation  </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/b3935e77-a561-4cfd-985f-91c667108c2a.html" target="element"> Data Privacy Laws </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/0de3eeff-23da-435c-941c-d29ddef8a8b3.html" target="element"> GDPR - Supervisory Authority </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/00cbc7e0-50c6-4a6a-bfb3-110847a00041.html" target="element"> Provable enforcement of data protection policy </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/a922b43c-90d3-4564-950e-f2c75a4ef880.html" target="element"> Data breaches are reported as required by law </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/7b6f2e77-9870-4f8e-a852-af68c6966cce.html" target="element"> Procedures for handling data breaches must be implemented </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/49973dbb-95d8-4e51-b996-b98a03b98c92.html" target="element"> Data processing records can be audited by an investigation </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/e1fced1d-08dd-4038-b2a0-47122a5c3554.html" target="element"> Data processing activities are logged for auditing </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/c04fb9fd-56a7-446e-80e2-1acca2f9c166.html" target="element"> Investigation of privacy complaints </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/8372c071-ff92-404a-ade2-719d7aff2eb3.html" target="element"> External audit of compliance with data privacy laws </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/28268ee6-7df1-4ec8-86d8-1dcb50618ed1.html" target="element"> Monitoring of data breaches </a> </td><td class="i18n-elementtype-Driver"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0a39eabf-33df-4c2a-a085-f231544988e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a39eabf-33df-4c2a-a085-f231544988e0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e2492fa0-0b0d-482f-849b-19b30b5b1dff.html" target="element"> Data Protection Authority </a> </td>
																		<td> <a href="../elements/b3935e77-a561-4cfd-985f-91c667108c2a.html" target="element"> Data Privacy Laws </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2263c7f8-daec-49cb-b4aa-6096713ee513.html" target="element">  </a> </td>
																		<td> <a href="../elements/2263c7f8-daec-49cb-b4aa-6096713ee513.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html" target="element"> Auditing of data protection implementation </a> </td>
																		<td> <a href="../elements/00cbc7e0-50c6-4a6a-bfb3-110847a00041.html" target="element"> Provable enforcement of data protection policy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fccdcdb9-f031-416f-91cf-822cf4211332.html" target="element">  </a> </td>
																		<td> <a href="../elements/fccdcdb9-f031-416f-91cf-822cf4211332.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a7d01333-3f41-4b30-8c5f-6624b31535a6.html" target="element"> GDPR - General Data Protection Regulation  </a> </td>
																		<td> <a href="../elements/c04fb9fd-56a7-446e-80e2-1acca2f9c166.html" target="element"> Investigation of privacy complaints </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1db61ce-4038-467f-a11d-bfc7c2bba3b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1db61ce-4038-467f-a11d-bfc7c2bba3b6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a7d01333-3f41-4b30-8c5f-6624b31535a6.html" target="element"> GDPR - General Data Protection Regulation  </a> </td>
																		<td> <a href="../elements/8372c071-ff92-404a-ade2-719d7aff2eb3.html" target="element"> External audit of compliance with data privacy laws </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0891c91d-f0c0-4257-9b18-c8f09ecbcdf6.html" target="element">  </a> </td>
																		<td> <a href="../elements/0891c91d-f0c0-4257-9b18-c8f09ecbcdf6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a7d01333-3f41-4b30-8c5f-6624b31535a6.html" target="element"> GDPR - General Data Protection Regulation  </a> </td>
																		<td> <a href="../elements/28268ee6-7df1-4ec8-86d8-1dcb50618ed1.html" target="element"> Monitoring of data breaches </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eb5bb580-426b-4aa8-8a43-796df33ac8a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb5bb580-426b-4aa8-8a43-796df33ac8a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b3935e77-a561-4cfd-985f-91c667108c2a.html" target="element"> Data Privacy Laws </a> </td>
																		<td> <a href="../elements/a7d01333-3f41-4b30-8c5f-6624b31535a6.html" target="element"> GDPR - General Data Protection Regulation  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/43c429f7-6f89-4bfa-bfce-6f9daa88802f.html" target="element">  </a> </td>
																		<td> <a href="../elements/43c429f7-6f89-4bfa-bfce-6f9daa88802f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/0de3eeff-23da-435c-941c-d29ddef8a8b3.html" target="element"> GDPR - Supervisory Authority </a> </td>
																		<td> <a href="../elements/e2492fa0-0b0d-482f-849b-19b30b5b1dff.html" target="element"> Data Protection Authority </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c8d06b0f-cf2f-4d82-b211-148782961a3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8d06b0f-cf2f-4d82-b211-148782961a3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0de3eeff-23da-435c-941c-d29ddef8a8b3.html" target="element"> GDPR - Supervisory Authority </a> </td>
																		<td> <a href="../elements/a7d01333-3f41-4b30-8c5f-6624b31535a6.html" target="element"> GDPR - General Data Protection Regulation  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/af6ea8c4-b4a4-4c2c-baed-34a7c0f39fc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/af6ea8c4-b4a4-4c2c-baed-34a7c0f39fc5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a922b43c-90d3-4564-950e-f2c75a4ef880.html" target="element"> Data breaches are reported as required by law </a> </td>
																		<td> <a href="../elements/7b6f2e77-9870-4f8e-a852-af68c6966cce.html" target="element"> Procedures for handling data breaches must be implemented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a9cde699-e3fb-4be6-ba6c-604fe2c22a37.html" target="element">  </a> </td>
																		<td> <a href="../elements/a9cde699-e3fb-4be6-ba6c-604fe2c22a37.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/49973dbb-95d8-4e51-b996-b98a03b98c92.html" target="element"> Data processing records can be audited by an investigation </a> </td>
																		<td> <a href="../elements/e1fced1d-08dd-4038-b2a0-47122a5c3554.html" target="element"> Data processing activities are logged for auditing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ae035cd7-6477-4f72-8d90-0b94fa444aab.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae035cd7-6477-4f72-8d90-0b94fa444aab.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/c04fb9fd-56a7-446e-80e2-1acca2f9c166.html" target="element"> Investigation of privacy complaints </a> </td>
																		<td> <a href="../elements/49973dbb-95d8-4e51-b996-b98a03b98c92.html" target="element"> Data processing records can be audited by an investigation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/53ad7eca-a128-4f48-81f0-177bb249c8e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/53ad7eca-a128-4f48-81f0-177bb249c8e0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/8372c071-ff92-404a-ade2-719d7aff2eb3.html" target="element"> External audit of compliance with data privacy laws </a> </td>
																		<td> <a href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html" target="element"> Auditing of data protection implementation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/82a7492c-ed79-482c-81f6-2c803463ad28.html" target="element">  </a> </td>
																		<td> <a href="../elements/82a7492c-ed79-482c-81f6-2c803463ad28.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/28268ee6-7df1-4ec8-86d8-1dcb50618ed1.html" target="element"> Monitoring of data breaches </a> </td>
																		<td> <a href="../elements/a922b43c-90d3-4564-950e-f2c75a4ef880.html" target="element"> Data breaches are reported as required by law </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>