<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>CISO</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>CISO</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/d794984b-0353-4dd0-adf2-f36fa544106c.png" alt="CISO" usemap="#d794984b-0353-4dd0-adf2-f36fa544106cmap">
			<map name="d794984b-0353-4dd0-adf2-f36fa544106cmap">
						<area shape="rect" coords="428,20,718,166" href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html"  target="element">
						<area shape="rect" coords="20,500,310,646" href="../elements/6342ba25-f73a-4030-852e-681462c7dd26.html"  target="element">
						<area shape="rect" coords="1244,260,1534,406" href="../elements/443542b2-a22c-47d2-b1da-66551af976c2.html"  target="element">
						<area shape="rect" coords="20,740,310,886" href="../elements/540823f8-6640-4b86-a065-83964edb48e1.html"  target="element">
						<area shape="rect" coords="428,740,718,886" href="../elements/6e095c8c-5926-49bd-989b-ad08f1220d93.html"  target="element">
						<area shape="rect" coords="1244,740,1534,886" href="../elements/a93698d1-1d8d-43a8-b109-3dc9625719cf.html"  target="element">
						<area shape="rect" coords="428,1004,718,1150" href="../elements/ed4f0454-5cf9-49a1-b07a-ebda88e99509.html"  target="element">
						<area shape="rect" coords="838,1004,1128,1150" href="../elements/e1fced1d-08dd-4038-b2a0-47122a5c3554.html"  target="element">
						<area shape="rect" coords="20,1004,310,1150" href="../elements/e85045ca-50e4-4803-a603-c83cd1c77e15.html"  target="element">
						<area shape="rect" coords="1244,1004,1534,1150" href="../elements/00cbc7e0-50c6-4a6a-bfb3-110847a00041.html"  target="element">
						<area shape="rect" coords="428,500,718,646" href="../elements/5a2efb3b-0da0-4085-8afa-126f35f7b7b4.html"  target="element">
						<area shape="rect" coords="428,260,718,406" href="../elements/e3a9d7de-e3b3-4337-9db9-a1d91424f49c.html"  target="element">
						<area shape="rect" coords="838,500,1128,646" href="../elements/df583155-262b-4a04-9a1d-bc6e54e5ac8c.html"  target="element">
						<area shape="rect" coords="1244,20,1534,166" href="../elements/7d378a1f-c09e-4e62-8149-836319132b95.html"  target="element">
						<area shape="rect" coords="838,740,1128,886" href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">CISO viewpoint for research data management
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html" target="element"> CISO </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/6342ba25-f73a-4030-852e-681462c7dd26.html" target="element"> Protect data according to needs </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/443542b2-a22c-47d2-b1da-66551af976c2.html" target="element"> Risk management </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/540823f8-6640-4b86-a065-83964edb48e1.html" target="element"> Data classified according to policy </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/6e095c8c-5926-49bd-989b-ad08f1220d93.html" target="element"> Data is protected according to classification </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/a93698d1-1d8d-43a8-b109-3dc9625719cf.html" target="element"> Documented compliance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/ed4f0454-5cf9-49a1-b07a-ebda88e99509.html" target="element"> Data protection matching policies  </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/e1fced1d-08dd-4038-b2a0-47122a5c3554.html" target="element"> Access to data is logged for auditing </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/e85045ca-50e4-4803-a603-c83cd1c77e15.html" target="element"> Data protection classification linked to data </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/00cbc7e0-50c6-4a6a-bfb3-110847a00041.html" target="element"> Enforcement of data protection policy is documented </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/5a2efb3b-0da0-4085-8afa-126f35f7b7b4.html" target="element"> Protection of confidential data </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/e3a9d7de-e3b3-4337-9db9-a1d91424f49c.html" target="element"> Information Security Governance </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/df583155-262b-4a04-9a1d-bc6e54e5ac8c.html" target="element"> Internal audit of compliance with data protection policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/7d378a1f-c09e-4e62-8149-836319132b95.html" target="element"> Management </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html" target="element"> Auditing of data protection </a> </td><td class="i18n-elementtype-Goal"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/a20a06e9-3869-4414-aa9d-547371aac9e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/a20a06e9-3869-4414-aa9d-547371aac9e9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html" target="element"> CISO </a> </td>
																		<td> <a href="../elements/443542b2-a22c-47d2-b1da-66551af976c2.html" target="element"> Risk management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/74734ac1-8702-4d5f-bb3c-970cdfa0eaec.html" target="element">  </a> </td>
																		<td> <a href="../elements/74734ac1-8702-4d5f-bb3c-970cdfa0eaec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html" target="element"> CISO </a> </td>
																		<td> <a href="../elements/e3a9d7de-e3b3-4337-9db9-a1d91424f49c.html" target="element"> Information Security Governance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eaeb039f-8bf4-4fa8-aac0-ab22088a922f.html" target="element">  </a> </td>
																		<td> <a href="../elements/eaeb039f-8bf4-4fa8-aac0-ab22088a922f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6342ba25-f73a-4030-852e-681462c7dd26.html" target="element"> Protect data according to needs </a> </td>
																		<td> <a href="../elements/540823f8-6640-4b86-a065-83964edb48e1.html" target="element"> Data classified according to policy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8a18071d-9e67-409d-b198-8f778df46167.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a18071d-9e67-409d-b198-8f778df46167.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/443542b2-a22c-47d2-b1da-66551af976c2.html" target="element"> Risk management </a> </td>
																		<td> <a href="../elements/a93698d1-1d8d-43a8-b109-3dc9625719cf.html" target="element"> Documented compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b3d704c7-d330-4764-a8fe-b9b4425ae1b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/b3d704c7-d330-4764-a8fe-b9b4425ae1b4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/443542b2-a22c-47d2-b1da-66551af976c2.html" target="element"> Risk management </a> </td>
																		<td> <a href="../elements/e3a9d7de-e3b3-4337-9db9-a1d91424f49c.html" target="element"> Information Security Governance </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7cf5cd1d-e82e-4b81-a91e-980eebdccd43.html" target="element">  </a> </td>
																		<td> <a href="../elements/7cf5cd1d-e82e-4b81-a91e-980eebdccd43.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/540823f8-6640-4b86-a065-83964edb48e1.html" target="element"> Data classified according to policy </a> </td>
																		<td> <a href="../elements/e85045ca-50e4-4803-a603-c83cd1c77e15.html" target="element"> Data protection classification linked to data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/068948be-ff1f-4111-bc18-a5a9cd3474fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/068948be-ff1f-4111-bc18-a5a9cd3474fc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6e095c8c-5926-49bd-989b-ad08f1220d93.html" target="element"> Data is protected according to classification </a> </td>
																		<td> <a href="../elements/ed4f0454-5cf9-49a1-b07a-ebda88e99509.html" target="element"> Data protection matching policies  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7bf86480-3314-438f-a6f6-fe0896d419b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/7bf86480-3314-438f-a6f6-fe0896d419b9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6e095c8c-5926-49bd-989b-ad08f1220d93.html" target="element"> Data is protected according to classification </a> </td>
																		<td> <a href="../elements/5a2efb3b-0da0-4085-8afa-126f35f7b7b4.html" target="element"> Protection of confidential data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e04cab83-18f7-439a-8acf-278e7298ce2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/e04cab83-18f7-439a-8acf-278e7298ce2f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a93698d1-1d8d-43a8-b109-3dc9625719cf.html" target="element"> Documented compliance </a> </td>
																		<td> <a href="../elements/e1fced1d-08dd-4038-b2a0-47122a5c3554.html" target="element"> Access to data is logged for auditing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2781595b-4ab5-4339-8b5c-c1a85559c1bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/2781595b-4ab5-4339-8b5c-c1a85559c1bb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a93698d1-1d8d-43a8-b109-3dc9625719cf.html" target="element"> Documented compliance </a> </td>
																		<td> <a href="../elements/00cbc7e0-50c6-4a6a-bfb3-110847a00041.html" target="element"> Enforcement of data protection policy is documented </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3867295f-6eae-4332-9863-e856cb31a715.html" target="element">  </a> </td>
																		<td> <a href="../elements/3867295f-6eae-4332-9863-e856cb31a715.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e3a9d7de-e3b3-4337-9db9-a1d91424f49c.html" target="element"> Information Security Governance </a> </td>
																		<td> <a href="../elements/5a2efb3b-0da0-4085-8afa-126f35f7b7b4.html" target="element"> Protection of confidential data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b4a9108-8b45-47fa-858f-7fc8b6dfe810.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b4a9108-8b45-47fa-858f-7fc8b6dfe810.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e3a9d7de-e3b3-4337-9db9-a1d91424f49c.html" target="element"> Information Security Governance </a> </td>
																		<td> <a href="../elements/6342ba25-f73a-4030-852e-681462c7dd26.html" target="element"> Protect data according to needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dda9dfd2-2325-4bf7-ad80-d1274dcf7d6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/dda9dfd2-2325-4bf7-ad80-d1274dcf7d6a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e3a9d7de-e3b3-4337-9db9-a1d91424f49c.html" target="element"> Information Security Governance </a> </td>
																		<td> <a href="../elements/df583155-262b-4a04-9a1d-bc6e54e5ac8c.html" target="element"> Internal audit of compliance with data protection policy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/05583516-d0ad-4b51-afbf-9613c1dedab6.html" target="element">  </a> </td>
																		<td> <a href="../elements/05583516-d0ad-4b51-afbf-9613c1dedab6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/df583155-262b-4a04-9a1d-bc6e54e5ac8c.html" target="element"> Internal audit of compliance with data protection policy </a> </td>
																		<td> <a href="../elements/a93698d1-1d8d-43a8-b109-3dc9625719cf.html" target="element"> Documented compliance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/53efe7d6-0cb9-4704-9f26-e8fabf1c55eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/53efe7d6-0cb9-4704-9f26-e8fabf1c55eb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/df583155-262b-4a04-9a1d-bc6e54e5ac8c.html" target="element"> Internal audit of compliance with data protection policy </a> </td>
																		<td> <a href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html" target="element"> Auditing of data protection </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a227c4ed-5dff-43f1-8248-10feb75171b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/a227c4ed-5dff-43f1-8248-10feb75171b9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7d378a1f-c09e-4e62-8149-836319132b95.html" target="element"> Management </a> </td>
																		<td> <a href="../elements/637f957a-a256-4568-bd7d-8868b096794d.html" target="element"> CISO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e6d80eb-6abc-4256-870d-0b96db518157.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e6d80eb-6abc-4256-870d-0b96db518157.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/7d378a1f-c09e-4e62-8149-836319132b95.html" target="element"> Management </a> </td>
																		<td> <a href="../elements/443542b2-a22c-47d2-b1da-66551af976c2.html" target="element"> Risk management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2263c7f8-daec-49cb-b4aa-6096713ee513.html" target="element">  </a> </td>
																		<td> <a href="../elements/2263c7f8-daec-49cb-b4aa-6096713ee513.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/99cca50a-89f3-43fe-a4b4-a80ba9d1bb34.html" target="element"> Auditing of data protection </a> </td>
																		<td> <a href="../elements/e1fced1d-08dd-4038-b2a0-47122a5c3554.html" target="element"> Access to data is logged for auditing </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>