<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>National Archive</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>National Archive</b>
			(<span class="i18n-viewpoint-motivation"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/e64f4745-2487-4888-a412-54724d6846a7.png" alt="National Archive" usemap="#e64f4745-2487-4888-a412-54724d6846a7map">
			<map name="e64f4745-2487-4888-a412-54724d6846a7map">
						<area shape="rect" coords="118,10,275,83" href="../elements/64e5bc20-2bb0-49d6-87e1-d8bb02baa556.html"  target="element">
						<area shape="rect" coords="118,130,275,203" href="../elements/dfb8973c-b3b4-4cbf-951c-cb0a7188f948.html"  target="element">
						<area shape="rect" coords="214,250,371,323" href="../elements/f8b3d504-74df-4433-bd65-8837ab7cb961.html"  target="element">
						<area shape="rect" coords="10,370,167,443" href="../elements/54800a69-289e-4147-816a-8a63a8bd668c.html"  target="element">
						<area shape="rect" coords="10,250,167,323" href="../elements/f055c717-2d5e-4727-a913-284212066897.html"  target="element">
						<area shape="rect" coords="214,370,371,443" href="../elements/0eed74ab-de3f-4d0f-9617-4090eba8240b.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">National archive viewpoint for research data management. 

The national archive determines if data is of national historic importance and if and how it should be preserved for posterity. 

</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/64e5bc20-2bb0-49d6-87e1-d8bb02baa556.html" target="element"> National archive </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
											<tr><td> <a href="../elements/dfb8973c-b3b4-4cbf-951c-cb0a7188f948.html" target="element"> Conservation of national cultural heritage </a> </td><td class="i18n-elementtype-Driver"></td></tr>
											<tr><td> <a href="../elements/f8b3d504-74df-4433-bd65-8837ab7cb961.html" target="element"> Conservation of research data of national historical importance </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/54800a69-289e-4147-816a-8a63a8bd668c.html" target="element"> Data collections must be reported to the national archives </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											<tr><td> <a href="../elements/f055c717-2d5e-4727-a913-284212066897.html" target="element"> Historic value of research data collections is assesed </a> </td><td class="i18n-elementtype-Goal"></td></tr>
											<tr><td> <a href="../elements/0eed74ab-de3f-4d0f-9617-4090eba8240b.html" target="element"> Research data collections can be submitted to the national archives </a> </td><td class="i18n-elementtype-Requirement"></td></tr>

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8f9de57d-6296-4859-b668-7f8b862cb38d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f9de57d-6296-4859-b668-7f8b862cb38d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/64e5bc20-2bb0-49d6-87e1-d8bb02baa556.html" target="element"> National archive </a> </td>
																		<td> <a href="../elements/dfb8973c-b3b4-4cbf-951c-cb0a7188f948.html" target="element"> Conservation of national cultural heritage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/34b0855c-eaa9-4de1-b0a8-c5e28d38ebe2.html" target="element">  </a> </td>
																		<td> <a href="../elements/34b0855c-eaa9-4de1-b0a8-c5e28d38ebe2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/dfb8973c-b3b4-4cbf-951c-cb0a7188f948.html" target="element"> Conservation of national cultural heritage </a> </td>
																		<td> <a href="../elements/f055c717-2d5e-4727-a913-284212066897.html" target="element"> Historic value of research data collections is assesed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4e4f0f89-09a9-4d69-ade7-72e80d80507d.html" target="element">  </a> </td>
																		<td> <a href="../elements/4e4f0f89-09a9-4d69-ade7-72e80d80507d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/f8b3d504-74df-4433-bd65-8837ab7cb961.html" target="element"> Conservation of research data of national historical importance </a> </td>
																		<td> <a href="../elements/dfb8973c-b3b4-4cbf-951c-cb0a7188f948.html" target="element"> Conservation of national cultural heritage </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ce8ab855-e258-4247-8277-0dce171b5a29.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce8ab855-e258-4247-8277-0dce171b5a29.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/54800a69-289e-4147-816a-8a63a8bd668c.html" target="element"> Data collections must be reported to the national archives </a> </td>
																		<td> <a href="../elements/f055c717-2d5e-4727-a913-284212066897.html" target="element"> Historic value of research data collections is assesed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f030da60-f6a6-4a2e-8c0f-39f76b42929d.html" target="element">  </a> </td>
																		<td> <a href="../elements/f030da60-f6a6-4a2e-8c0f-39f76b42929d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/0eed74ab-de3f-4d0f-9617-4090eba8240b.html" target="element"> Research data collections can be submitted to the national archives </a> </td>
																		<td> <a href="../elements/f8b3d504-74df-4433-bd65-8837ab7cb961.html" target="element"> Conservation of research data of national historical importance </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>