<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Archiving, researchers</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Archiving, researchers</b>
			(<span class="i18n-viewpoint-motivation"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/b096a719-66fa-432c-9862-547c66ee1609.png" alt="Archiving, researchers" usemap="#b096a719-66fa-432c-9862-547c66ee1609map">
			<map name="b096a719-66fa-432c-9862-547c66ee1609map">
						<area shape="rect" coords="814,22,934,77" href="../elements/6e7857d1-50b2-4a56-a8ba-6e25603f74d4.html"  target="element">
						<area shape="rect" coords="922,142,1042,197" href="../elements/6923d4cb-5dae-4a78-95f8-0c8cb2091c3f.html"  target="element">
						<area shape="rect" coords="922,274,1055,329" href="../elements/d8fc3f43-d1c8-49e7-bf4d-25bb1db6c487.html"  target="element">
						<area shape="rect" coords="838,411,958,466" href="../elements/6a50de00-ca74-4a4a-9753-e19863942d9e.html"  target="element">
						<area shape="rect" coords="994,411,1114,466" href="../elements/606a688f-0404-41d6-9d86-bbdf0efc7ea2.html"  target="element">
						<area shape="rect" coords="719,142,839,197" href="../elements/89390212-652f-4cbc-a1f1-ba6ce339c596.html"  target="element">
						<area shape="rect" coords="719,274,839,329" href="../elements/fe135418-8daa-4b18-8bcb-d071847f299f.html"  target="element">
						<area shape="rect" coords="695,411,815,466" href="../elements/0b9c8a45-f266-47d7-a91e-f9d4399cb944.html"  target="element">
						<area shape="rect" coords="370,10,490,65" href="../elements/6dff00b1-ab4f-4107-92dd-af2d3230fe02.html"  target="element">
						<area shape="rect" coords="370,142,490,197" href="../elements/383b5a41-807c-4c4f-b473-c5d1ef6d8a01.html"  target="element">
						<area shape="rect" coords="215,281,335,336" href="../elements/fb1eaeae-1ddc-4044-b8bc-c7a84e84ce92.html"  target="element">
						<area shape="rect" coords="190,418,359,473" href="../elements/ed3eb12c-d4df-4574-b059-dda0e7f4dbc3.html"  target="element">
						<area shape="rect" coords="10,335,142,390" href="../elements/eb24b6e1-7688-4be2-ad4b-644d5ecaf0f9.html"  target="element">
						<area shape="rect" coords="371,281,491,336" href="../elements/28960702-b49b-493e-b2a0-205eeaf04bf8.html"  target="element">
						<area shape="rect" coords="538,142,658,197" href="../elements/938ac2de-11f2-40ed-8aba-502230f7aff8.html"  target="element">
						<area shape="rect" coords="1174,22,1294,77" href="../elements/4231fa0c-8b29-4b94-8a94-ce97140b059e.html"  target="element">
						<area shape="rect" coords="838,514,958,569" href="../elements/e4a9b00b-9541-47dc-a02a-bfec154b2e71.html"  target="element">
						<area shape="rect" coords="347,497,467,552" href="../elements/2bdc08bb-6161-4bf9-b12b-b741f79f3bfa.html"  target="element">
						<area shape="rect" coords="178,142,298,197" href="../elements/faaf0ed2-881b-458e-a0d7-714f2a508135.html"  target="element">
						<area shape="rect" coords="682,586,802,641" href="../elements/060a5b65-10d4-47b5-a976-29e81ab23277.html"  target="element">
						<area shape="rect" coords="77,238,197,293" href="../elements/c07b07d0-51d0-4123-914d-5e812ab6f1c2.html"  target="element">
						<area shape="rect" coords="586,514,706,569" href="../elements/9a9188b5-446e-438d-9628-ef50c4227310.html"  target="element">
						<area shape="rect" coords="1174,154,1294,209" href="../elements/e8bb52cb-c793-4e51-803e-98d964e1f636.html"  target="element">
						<area shape="rect" coords="1174,281,1294,336" href="../elements/c83ae315-6e9a-41b4-9db7-a67d80430d7c.html"  target="element">
						<area shape="rect" coords="814,586,971,641" href="../elements/36d621fc-fc28-4fd5-86f0-2e1d17de8512.html"  target="element">
						<area shape="rect" coords="1020,515,1140,570" href="../elements/2e727789-bb9b-4341-94f2-ee29a7aca8aa.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/6e7857d1-50b2-4a56-a8ba-6e25603f74d4.html" target="element"> Researcher </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/6923d4cb-5dae-4a78-95f8-0c8cb2091c3f.html" target="element"> Self Reputation </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/d8fc3f43-d1c8-49e7-bf4d-25bb1db6c487.html" target="element"> Appropriate reproducibility options </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/6a50de00-ca74-4a4a-9753-e19863942d9e.html" target="element"> Proven Immutable copies </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/606a688f-0404-41d6-9d86-bbdf0efc7ea2.html" target="element"> FAIR </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/89390212-652f-4cbc-a1f1-ba6ce339c596.html" target="element"> Research Performance </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/fe135418-8daa-4b18-8bcb-d071847f299f.html" target="element"> Fast and easy archiving </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/0b9c8a45-f266-47d7-a91e-f9d4399cb944.html" target="element"> Workflow integration </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/6dff00b1-ab4f-4107-92dd-af2d3230fe02.html" target="element"> Researcher as principal investigator </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/383b5a41-807c-4c4f-b473-c5d1ef6d8a01.html" target="element"> Keep project on track </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/fb1eaeae-1ddc-4044-b8bc-c7a84e84ce92.html" target="element"> Ensure economy on track </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/ed3eb12c-d4df-4574-b059-dda0e7f4dbc3.html" target="element"> Transparent and predictable economy model </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/eb24b6e1-7688-4be2-ad4b-644d5ecaf0f9.html" target="element"> Assign roles and responsibilities </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/28960702-b49b-493e-b2a0-205eeaf04bf8.html" target="element"> Fullfill data management plan </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/938ac2de-11f2-40ed-8aba-502230f7aff8.html" target="element"> Funding </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/4231fa0c-8b29-4b94-8a94-ce97140b059e.html" target="element"> Head of department </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/e4a9b00b-9541-47dc-a02a-bfec154b2e71.html" target="element"> Digital Object Management according to CoreTrustSeal </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/2bdc08bb-6161-4bf9-b12b-b741f79f3bfa.html" target="element"> DMP association </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/faaf0ed2-881b-458e-a0d7-714f2a508135.html" target="element"> Trusted collaboration </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/060a5b65-10d4-47b5-a976-29e81ab23277.html" target="element"> Versioning of datasets </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/c07b07d0-51d0-4123-914d-5e812ab6f1c2.html" target="element"> Ensuring integrity, confidentiality and availability </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/9a9188b5-446e-438d-9628-ef50c4227310.html" target="element"> Various ingestion methods </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/e8bb52cb-c793-4e51-803e-98d964e1f636.html" target="element"> Manage data in line with policy </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/c83ae315-6e9a-41b4-9db7-a67d80430d7c.html" target="element"> Facilitate access and/or reuse </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/36d621fc-fc28-4fd5-86f0-2e1d17de8512.html" target="element"> (Semi)automated ingestion </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/2e727789-bb9b-4341-94f2-ee29a7aca8aa.html" target="element"> Verify transfer with checksum </a> </td><td class="i18n-elementtype-Requirement"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>