<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ITIL v3 simplified capability map (copy)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>ITIL v3 simplified capability map (copy)</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/28788837-040e-46db-8be6-3b19c79c0425.png" alt="ITIL v3 simplified capability map (copy)" usemap="#28788837-040e-46db-8be6-3b19c79c0425map">
			<map name="28788837-040e-46db-8be6-3b19c79c0425map">
								<area shape="rect" coords="274,271,394,326" href="../elements/ab1e9fdd-f7dd-417f-853c-cb85078fa185.html"  target="element">
								<area shape="rect" coords="274,415,394,470" href="../elements/0058c72d-a0f1-4bf9-adcb-1ee9ae206f4e.html"  target="element">
								<area shape="rect" coords="274,343,394,398" href="../elements/ae20cc1f-ac46-4847-9f44-95e08c483f37.html"  target="element">
								<area shape="rect" coords="274,631,394,686" href="../elements/777d6c67-fcaf-416c-a8cb-3440bc9dfb29.html"  target="element">
								<area shape="rect" coords="274,199,394,254" href="../elements/c5ef4e20-c1f8-4e05-b1fd-7ce3b355c920.html"  target="element">
								<area shape="rect" coords="274,559,394,614" href="../elements/c76adf77-3436-4450-85f7-308e904e893f.html"  target="element">
								<area shape="rect" coords="274,487,394,542" href="../elements/56828d53-e079-40dc-95e8-ab6f8494fca0.html"  target="element">

						<area shape="rect" coords="238,151,431,731" href="../elements/ebd6751f-3953-447b-b0b9-40358adb5c7d.html"  target="element">
								<area shape="rect" coords="46,562,166,617" href="../elements/7aa8077d-4e84-4a38-ae65-55f1da7a8272.html"  target="element">
								<area shape="rect" coords="46,634,166,689" href="../elements/8562cccd-6fd0-45ad-a768-145f57b6eec4.html"  target="element">
								<area shape="rect" coords="46,418,166,473" href="../elements/8b702d73-3f34-48cd-8358-df764028af02.html"  target="element">
								<area shape="rect" coords="46,490,166,545" href="../elements/415c8889-931e-43dd-83c3-770bac3c4a9c.html"  target="element">

						<area shape="rect" coords="10,370,203,731" href="../elements/56ab9d6b-4be7-40a2-b6a8-b3da882afb51.html"  target="element">
								<area shape="rect" coords="730,562,850,617" href="../elements/47c38a02-b37b-472e-b702-28d0efa7b926.html"  target="element">
								<area shape="rect" coords="730,346,850,401" href="../elements/7c99578b-c138-47af-a6a0-b499995e3ba6.html"  target="element">
								<area shape="rect" coords="730,418,850,473" href="../elements/b66c60ea-cf10-42a6-adc0-29859d35ade8.html"  target="element">
								<area shape="rect" coords="730,490,850,545" href="../elements/4536ccbd-d22b-4519-8488-01879f33151f.html"  target="element">
								<area shape="rect" coords="730,202,850,257" href="../elements/cc10f56c-e4de-47a5-a933-1e01d4e446cb.html"  target="element">
								<area shape="rect" coords="730,274,850,329" href="../elements/bae7778a-0aef-4e6d-bf59-1097fb2ade42.html"  target="element">
								<area shape="rect" coords="730,634,850,689" href="../elements/40f78a8b-2271-446f-b286-51ced0cb30eb.html"  target="element">
								<area shape="rect" coords="730,130,850,185" href="../elements/a8d9aacf-5a16-40c1-8626-d69870738bd6.html"  target="element">
								<area shape="rect" coords="730,58,850,113" href="../elements/e22dd5f8-4e7d-47ae-a00f-b988dedf6747.html"  target="element">

						<area shape="rect" coords="694,10,887,731" href="../elements/5d6809ec-beb1-4d5b-ab8d-713e8cf0fd8b.html"  target="element">
								<area shape="rect" coords="502,130,622,185" href="../elements/4fa7d67d-d416-4ade-8df9-e8948a4e6e2e.html"  target="element">
								<area shape="rect" coords="502,562,622,617" href="../elements/d868caee-22eb-4e10-afd7-c012cf2d0c0d.html"  target="element">
								<area shape="rect" coords="502,202,622,257" href="../elements/c7d519f5-1de7-45d7-8b76-813094066bd4.html"  target="element">
								<area shape="rect" coords="502,418,622,473" href="../elements/dee16229-c010-435d-b219-d1098aae228c.html"  target="element">
								<area shape="rect" coords="502,634,622,689" href="../elements/06740f33-80ea-46db-bc97-f4c3957c9149.html"  target="element">
								<area shape="rect" coords="502,274,622,329" href="../elements/ff5df46b-c52b-4b37-8b59-80029f728d36.html"  target="element">
								<area shape="rect" coords="502,490,622,545" href="../elements/17f8b3fe-d1b0-486c-8208-940a9bcde1ba.html"  target="element">
								<area shape="rect" coords="502,346,622,401" href="../elements/dadf7aad-aa81-4143-a134-e8a45182caff.html"  target="element">

						<area shape="rect" coords="466,82,659,731" href="../elements/94dc0f4d-f474-4a98-ba0f-7ef96f59a602.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/ebd6751f-3953-447b-b0b9-40358adb5c7d.html" target="element"> ITIL Service Design </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/ab1e9fdd-f7dd-417f-853c-cb85078fa185.html" target="element"> Service Catalogue Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/0058c72d-a0f1-4bf9-adcb-1ee9ae206f4e.html" target="element"> Capacity Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/ae20cc1f-ac46-4847-9f44-95e08c483f37.html" target="element"> Availability Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/777d6c67-fcaf-416c-a8cb-3440bc9dfb29.html" target="element"> Information Security Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/c5ef4e20-c1f8-4e05-b1fd-7ce3b355c920.html" target="element"> IT Suplier Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/c76adf77-3436-4450-85f7-308e904e893f.html" target="element"> IT Continuity Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/56828d53-e079-40dc-95e8-ab6f8494fca0.html" target="element"> Service Level Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/56ab9d6b-4be7-40a2-b6a8-b3da882afb51.html" target="element"> ITIL Service Strategy </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/7aa8077d-4e84-4a38-ae65-55f1da7a8272.html" target="element"> Financial Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/8562cccd-6fd0-45ad-a768-145f57b6eec4.html" target="element"> Strategy Generation </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/8b702d73-3f34-48cd-8358-df764028af02.html" target="element"> Demand Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/415c8889-931e-43dd-83c3-770bac3c4a9c.html" target="element"> Service Portfolio Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/5d6809ec-beb1-4d5b-ab8d-713e8cf0fd8b.html" target="element"> ITIL Service Operations </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/47c38a02-b37b-472e-b702-28d0efa7b926.html" target="element"> Insident Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/7c99578b-c138-47af-a6a0-b499995e3ba6.html" target="element"> IT Problem Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/b66c60ea-cf10-42a6-adc0-29859d35ade8.html" target="element"> IT Event Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/4536ccbd-d22b-4519-8488-01879f33151f.html" target="element"> Service Request Fulfillment </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/cc10f56c-e4de-47a5-a933-1e01d4e446cb.html" target="element"> IT Apllications Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/bae7778a-0aef-4e6d-bf59-1097fb2ade42.html" target="element"> IT Technical Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/40f78a8b-2271-446f-b286-51ced0cb30eb.html" target="element"> Access Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/a8d9aacf-5a16-40c1-8626-d69870738bd6.html" target="element"> IT Operations Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/e22dd5f8-4e7d-47ae-a00f-b988dedf6747.html" target="element"> Service Desk </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/94dc0f4d-f474-4a98-ba0f-7ef96f59a602.html" target="element"> ITIL Service Transition </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/4fa7d67d-d416-4ade-8df9-e8948a4e6e2e.html" target="element"> Knowledge Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/d868caee-22eb-4e10-afd7-c012cf2d0c0d.html" target="element"> Change Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/c7d519f5-1de7-45d7-8b76-813094066bd4.html" target="element"> Evaluation </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/dee16229-c010-435d-b219-d1098aae228c.html" target="element"> Release and Deployment Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/06740f33-80ea-46db-bc97-f4c3957c9149.html" target="element"> Change Advisory Board </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/ff5df46b-c52b-4b37-8b59-80029f728d36.html" target="element"> Service and Validation Testing </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/17f8b3fe-d1b0-486c-8208-940a9bcde1ba.html" target="element"> Service Asset and Configuration </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/dadf7aad-aa81-4143-a134-e8a45182caff.html" target="element"> Transition Planning and Support </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>