<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>WS1part1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>WS1part1</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/7a4390e7-ec88-4c8c-8ea8-44ab5b11cef9.png" alt="WS1part1" usemap="#7a4390e7-ec88-4c8c-8ea8-44ab5b11cef9map">
			<map name="7a4390e7-ec88-4c8c-8ea8-44ab5b11cef9map">
						<area shape="rect" coords="189,202,309,257" href="../elements/d0cdc70c-129e-497e-a26a-e9192026c81b.html"  target="element">
						<area shape="rect" coords="189,322,309,395" href="../elements/ec2594d9-af88-41d4-8210-50702de83c3e.html"  target="element">
						<area shape="rect" coords="393,202,513,257" href="../elements/6051408f-0786-4b7f-b2d5-585577b56802.html"  target="element">
						<area shape="rect" coords="45,322,165,377" href="../elements/d30a02f6-3d6a-4c22-8877-63176b6a5862.html"  target="element">
						<area shape="rect" coords="573,106,729,161" href="../elements/cddfc1ca-3607-4f08-823b-56f7e6514012.html"  target="element">
						<area shape="rect" coords="573,207,693,262" href="../elements/af4f2a0c-200b-46c5-b03b-68a56feee7c9.html"  target="element">
						<area shape="rect" coords="573,10,693,65" href="../elements/30da79ef-69f9-4920-a269-ed03ea2113d4.html"  target="element">
						<area shape="rect" coords="345,322,465,377" href="../elements/f2a911a0-258d-4675-a6d6-4b0f55f814f4.html"  target="element">
						<area shape="rect" coords="573,322,729,377" href="../elements/e86aae7b-ce13-4a3b-86ee-84cb2dde6a25.html"  target="element">
						<area shape="rect" coords="10,442,165,497" href="../elements/8061fc66-8e67-4ba1-9268-792855efbe3f.html"  target="element">
						<area shape="rect" coords="189,442,346,497" href="../elements/6d875be2-0183-47df-9b2b-8001abf3ddfd.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Starting point for the first subject of the worskshop.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/d0cdc70c-129e-497e-a26a-e9192026c81b.html" target="element"> Archiving Agrement </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/ec2594d9-af88-41d4-8210-50702de83c3e.html" target="element"> Data Management Agreement </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/6051408f-0786-4b7f-b2d5-585577b56802.html" target="element"> Research Data Archiving </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/d30a02f6-3d6a-4c22-8877-63176b6a5862.html" target="element"> Licence </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/cddfc1ca-3607-4f08-823b-56f7e6514012.html" target="element"> Ownership needed for data delivery to preservation </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/af4f2a0c-200b-46c5-b03b-68a56feee7c9.html" target="element"> Ownership is defined </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/30da79ef-69f9-4920-a269-ed03ea2113d4.html" target="element"> Rigsarkivet </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/f2a911a0-258d-4675-a6d6-4b0f55f814f4.html" target="element"> Ownership </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/e86aae7b-ce13-4a3b-86ee-84cb2dde6a25.html" target="element"> Ownership is registered in the archive </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/8061fc66-8e67-4ba1-9268-792855efbe3f.html" target="element"> Archived datasets have a licence model </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/6d875be2-0183-47df-9b2b-8001abf3ddfd.html" target="element"> Archived data can be managed by the archive </a> </td><td class="i18n-elementtype-Requirement"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>