<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Example 1 - Why archive</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Example 1 - Why archive</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/f72703aa-14ee-4089-937b-81c1b669dedc.png" alt="Example 1 - Why archive" usemap="#f72703aa-14ee-4089-937b-81c1b669dedcmap">
			<map name="f72703aa-14ee-4089-937b-81c1b669dedcmap">
						<area shape="rect" coords="190,355,323,416" href="../elements/3288c671-4543-4038-8a1f-16720893723c.html"  target="element">
						<area shape="rect" coords="10,505,130,560" href="../elements/a66acdf7-9acb-47e7-97bd-c480d39eee45.html"  target="element">
						<area shape="rect" coords="586,463,706,518" href="../elements/b8187fb9-ce4c-4ab5-9c42-70f74290e2dc.html"  target="element">
						<area shape="rect" coords="10,445,130,500" href="../elements/0993c906-29e7-4006-a18b-e1bf34eb87f8.html"  target="element">
						<area shape="rect" coords="10,385,130,440" href="../elements/2f6e8c7d-ee36-404e-8168-7a5048433a84.html"  target="element">
						<area shape="rect" coords="10,325,130,380" href="../elements/77f51747-91f0-4f2b-a7c9-6e514759701a.html"  target="element">
						<area shape="rect" coords="10,264,130,319" href="../elements/6de87d98-c1e6-4229-8023-b2b52f0765f2.html"  target="element">
						<area shape="rect" coords="10,205,130,260" href="../elements/890a2953-20cf-404e-b253-a1f97fc2f5c2.html"  target="element">
						<area shape="rect" coords="345,451,514,540" href="../elements/5f02224f-dd95-40f0-b8a9-80e3704d8094.html"  target="element">
						<area shape="rect" coords="394,349,514,422" href="../elements/aca84572-5b75-43ca-a04a-b15d93415a2a.html"  target="element">
						<area shape="rect" coords="394,115,514,170" href="../elements/64320c1d-2d6a-4901-8821-4fdfbc0d8ee7.html"  target="element">
						<area shape="rect" coords="394,19,514,74" href="../elements/6e5ac8d5-b20a-4663-b49e-ba2d3112e90f.html"  target="element">
						<area shape="rect" coords="394,223,514,278" href="../elements/3bb01b16-6866-4c22-a796-e4ad6fb5a5cc.html"  target="element">
						<area shape="rect" coords="760,223,917,297" href="../elements/ed2e4b1b-58ca-408c-a60d-5d07874c2506.html"  target="element">
						<area shape="rect" coords="567,358,724,413" href="../elements/a77aec91-cdbc-4537-80bf-c937c80708b5.html"  target="element">
						<area shape="rect" coords="574,115,730,170" href="../elements/4bbee91b-121a-4ce4-952f-ddd21f7efebf.html"  target="element">
						<area shape="rect" coords="592,19,712,74" href="../elements/b2b04126-ed23-4e01-b99a-b86dcc212a4d.html"  target="element">
						<area shape="rect" coords="779,604,899,659" href="../elements/0712a313-2a74-4c2f-b83f-6261f8d07f22.html"  target="element">
						<area shape="rect" coords="964,595,1120,668" href="../elements/01a6a59e-8468-4fb8-8e64-80fd8b122b4b.html"  target="element">
						<area shape="rect" coords="586,604,706,659" href="../elements/030dc49c-1b0d-40a5-86d6-104e98683313.html"  target="element">
						<area shape="rect" coords="197,19,317,74" href="../elements/85513e49-8384-42fd-af53-5d0c57877cb4.html"  target="element">
						<area shape="rect" coords="197,115,317,170" href="../elements/9d6bd429-5aaa-450f-b28a-2e0c2b94fc6f.html"  target="element">
						<area shape="rect" coords="34,10,154,83" href="../elements/877b45b2-7afb-497b-98fc-ff0b08172437.html"  target="element">
						<area shape="rect" coords="779,115,899,170" href="../elements/cd015324-17bd-410c-afec-318eb141fce7.html"  target="element">
						<area shape="rect" coords="982,358,1102,413" href="../elements/0bfa7586-09e2-4e50-af3d-8118e2bd537f.html"  target="element">
						<area shape="rect" coords="770,351,907,421" href="../elements/a65dda0d-535e-40be-b58e-54e9fb74f322.html"  target="element">
						<area shape="rect" coords="576,232,727,287" href="../elements/ed8258f7-56ad-42a8-8fc2-ac3e745b8822.html"  target="element">
						<area shape="rect" coords="779,19,899,74" href="../elements/28b36b1d-79c6-4f53-8c94-b63c196ed65c.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/3288c671-4543-4038-8a1f-16720893723c.html" target="element"> Art 6.1 Lawfulness of Processing </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/a66acdf7-9acb-47e7-97bd-c480d39eee45.html" target="element"> GDPR Art 6.1f Legitimate Interests </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/b8187fb9-ce4c-4ab5-9c42-70f74290e2dc.html" target="element"> Reason for preservation is clear </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/0993c906-29e7-4006-a18b-e1bf34eb87f8.html" target="element"> GDPR Art 6.1e Public Interrest </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/2f6e8c7d-ee36-404e-8168-7a5048433a84.html" target="element"> GDPR Art 6.1d Protection of Vital Interests </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/77f51747-91f0-4f2b-a7c9-6e514759701a.html" target="element"> GDPR Art 6.1c Necessary for Compliance with Legal Obligation </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/6de87d98-c1e6-4229-8023-b2b52f0765f2.html" target="element"> GDPR Art 6.1b Necessary for Contract </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/890a2953-20cf-404e-b253-a1f97fc2f5c2.html" target="element"> GDPR Art 6.1a Consent </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/5f02224f-dd95-40f0-b8a9-80e3704d8094.html" target="element"> Research data supporting a publication can be made available for recreation studies </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/aca84572-5b75-43ca-a04a-b15d93415a2a.html" target="element"> Register reason for preserving data </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/64320c1d-2d6a-4901-8821-4fdfbc0d8ee7.html" target="element"> Minimise expenditure on storage </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/6e5ac8d5-b20a-4663-b49e-ba2d3112e90f.html" target="element"> CFO </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/3bb01b16-6866-4c22-a796-e4ad6fb5a5cc.html" target="element"> Delete data when it has no further use </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/ed2e4b1b-58ca-408c-a60d-5d07874c2506.html" target="element"> Data supporting a publication must be preserved for 5 years after publication </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/a77aec91-cdbc-4537-80bf-c937c80708b5.html" target="element"> Provide long term storage for research data </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/4bbee91b-121a-4ce4-952f-ddd21f7efebf.html" target="element"> Reproducible Research </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/b2b04126-ed23-4e01-b99a-b86dcc212a4d.html" target="element"> Academic Researchers </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/0712a313-2a74-4c2f-b83f-6261f8d07f22.html" target="element"> Archiving Service </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/01a6a59e-8468-4fb8-8e64-80fd8b122b4b.html" target="element"> Research Data supporting a publication is available </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
										<tr><td> <a href="../elements/030dc49c-1b0d-40a5-86d6-104e98683313.html" target="element"> Statement of Preservation </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/85513e49-8384-42fd-af53-5d0c57877cb4.html" target="element"> CISO </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/9d6bd429-5aaa-450f-b28a-2e0c2b94fc6f.html" target="element"> Compliance with GDPR </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/877b45b2-7afb-497b-98fc-ff0b08172437.html" target="element"> GDPR Art 39 Data Protection Officer </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/cd015324-17bd-410c-afec-318eb141fce7.html" target="element"> Danish Code of Conduct  </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/0bfa7586-09e2-4e50-af3d-8118e2bd537f.html" target="element"> Data Management </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										<tr><td> <a href="../elements/a65dda0d-535e-40be-b58e-54e9fb74f322.html" target="element"> Implement Managed Archiving of Research Data </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/ed8258f7-56ad-42a8-8fc2-ac3e745b8822.html" target="element"> Make Research Data available for replication studies </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/28b36b1d-79c6-4f53-8c94-b63c196ed65c.html" target="element"> Research Data can be lost </a> </td><td class="i18n-elementtype-Assessment"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>