<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Motivation Subset</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Motivation Subset</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/f8c02a5c-5b05-4c66-9461-8a3907a24910.png" alt="Motivation Subset" usemap="#f8c02a5c-5b05-4c66-9461-8a3907a24910map">
			<map name="f8c02a5c-5b05-4c66-9461-8a3907a24910map">
						<area shape="rect" coords="10,118,130,173" href="../elements/be66154a-3a4e-45bf-8d77-26c23f7c3c24.html"  target="element">
						<area shape="rect" coords="10,221,130,276" href="../elements/f1f1f39f-d787-4113-9c6d-adecd6b745bf.html"  target="element">
						<area shape="rect" coords="10,322,130,377" href="../elements/dc5a7daf-2827-4359-bab1-9483e014b88e.html"  target="element">
						<area shape="rect" coords="178,118,298,173" href="../elements/b8dcd195-6f0b-4330-a126-bf7c6f228986.html"  target="element">
						<area shape="rect" coords="10,10,130,65" href="../elements/370d0523-5d90-4a6b-92e7-f2279ed68c7f.html"  target="element">
						<area shape="rect" coords="178,221,298,276" href="../elements/86685506-d8d1-4552-bcdb-4186ed71866f.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">The subset of motivation layer elements used in the workshop</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/be66154a-3a4e-45bf-8d77-26c23f7c3c24.html" target="element"> Driver </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/f1f1f39f-d787-4113-9c6d-adecd6b745bf.html" target="element"> Goal </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/dc5a7daf-2827-4359-bab1-9483e014b88e.html" target="element"> Requirement </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/b8dcd195-6f0b-4330-a126-bf7c6f228986.html" target="element"> Assessment </a> </td><td class="i18n-elementtype-Assessment"></td></tr>
										<tr><td> <a href="../elements/370d0523-5d90-4a6b-92e7-f2279ed68c7f.html" target="element"> Stakeholder </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/86685506-d8d1-4552-bcdb-4186ed71866f.html" target="element"> Principle </a> </td><td class="i18n-elementtype-Principle"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>